{"openapi":"3.1.0","info":{"title":"Fletch v1 API","version":"1.0.0","description":"Read the registry, and read/create/pause/delete watchers, key-authenticated (Authorization: Bearer flk_...). A signed-in browser session also authenticates, with every scope below. See /llms.txt for a plain-text guide (docs/API.md in the repository has the same material at length). Watcher alerts can be delivered to a webhook endpoint registered under /webhooks, signed with HMAC-SHA256. Not yet in v1: deploy. Public reads (every operation marked `security: []`) answer with `Access-Control-Allow-Origin: *` and a preflight, so a browser on any origin can fetch them without credentials; the keyed operations under /watchers, /webhooks, /projects and /builds send no CORS headers and are for servers. Every public read carries an ETag and a Cache-Control; a 429 carries Retry-After; a 401 carries WWW-Authenticate. A keyed operation names its scope in `x-required-scope`."},"servers":[{"url":"https://fletch.now/api/v1"}],"security":[{"bearerAuth":[]}],"paths":{"/apps":{"get":{"summary":"Browse publicly listed apps","description":"Public beta directory. Only owner-submitted, admin-approved listings for the current published build are returned. Unlisted, suspended, pending, deleted and banned-owner apps are omitted. Descriptions are creator-provided. Responses must revalidate on every read so revoked listings are removed. Sorted by featured, then first listing time. Pagination can change as owners edit listings.","security":[],"parameters":[{"name":"q","in":"query","schema":{"type":"string","maxLength":80},"description":"Full-text search over app name and descriptions, or an exact token ticker (optional $ prefix) or contract address."},{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"maximum":1000,"default":1},"description":"24 apps per page. Follow next until null."}],"responses":{"200":{"description":"Approved app listings","content":{"application/json":{"schema":{"type":"object","properties":{"apps":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string","description":"Current canonical directory slug, separate from the hosted app's hostname. Older slug reads return this current record only while it remains public. Its page is /published/{slug}."},"title":{"type":"string"},"summary":{"type":"string"},"description":{"type":"string"},"liveUrl":{"type":"string","format":"uri"},"token":{"type":["object","null"],"description":"Metadata read from a project-recorded contract at a pinned block. This check is not a security audit. Source verification is a separate chain explorer observation.","properties":{"chainId":{"type":"integer","enum":[4663,46630]},"address":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer"},"totalSupply":{"type":"string","description":"Raw integer units at blockNumber; apply decimals."},"blockNumber":{"type":"string"},"checkedAt":{"type":"string","format":"date-time"},"sourceVerified":{"type":"boolean"},"sourceVerifiedAt":{"type":["string","null"],"format":"date-time"}},"required":["chainId","address","name","symbol","decimals","totalSupply","blockNumber","checkedAt","sourceVerified","sourceVerifiedAt"]},"featured":{"type":"boolean"},"listedAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["slug","title","summary","description","liveUrl","token","featured","listedAt","updatedAt"]}},"page":{"type":"integer"},"hasMore":{"type":"boolean"},"next":{"type":["string","null"]}},"required":["apps","page","hasMore","next"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Apps"]}},"/apps/{slug}":{"get":{"summary":"Read a publicly listed app","description":"Public. Returns the same approved description and token evidence as /published/{slug}. A 404 also covers private or withdrawn listings. No prompts, source files, owner identity or build logs are included.","security":[],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Public app and optional token observation","content":{"application/json":{"schema":{"type":"object","properties":{"app":{"type":"object","properties":{"slug":{"type":"string","description":"Current canonical directory slug, separate from the hosted app's hostname. Older slug reads return this current record only while it remains public. Its page is /published/{slug}."},"title":{"type":"string"},"summary":{"type":"string"},"description":{"type":"string"},"liveUrl":{"type":"string","format":"uri"},"token":{"type":["object","null"],"description":"Metadata read from a project-recorded contract at a pinned block. This check is not a security audit. Source verification is a separate chain explorer observation.","properties":{"chainId":{"type":"integer","enum":[4663,46630]},"address":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer"},"totalSupply":{"type":"string","description":"Raw integer units at blockNumber; apply decimals."},"blockNumber":{"type":"string"},"checkedAt":{"type":"string","format":"date-time"},"sourceVerified":{"type":"boolean"},"sourceVerifiedAt":{"type":["string","null"],"format":"date-time"}},"required":["chainId","address","name","symbol","decimals","totalSupply","blockNumber","checkedAt","sourceVerified","sourceVerifiedAt"]},"featured":{"type":"boolean"},"listedAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["slug","title","summary","description","liveUrl","token","featured","listedAt","updatedAt"]}},"required":["app"]}}}},"404":{"description":"App not publicly listed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Apps"]}},"/chains":{"get":{"summary":"List Robinhood Chain networks","description":"Public. The public RPC URL, the explorer and whether Fletch has a provider key for the chain; a configured provider URL is never returned.","security":[],"responses":{"200":{"description":"The two Robinhood chains","content":{"application/json":{"schema":{"type":"object","properties":{"chains":{"type":"array","items":{"type":"object","properties":{"chainId":{"type":"integer"},"name":{"type":"string"},"network":{"type":"string","enum":["mainnet","testnet"]},"rpcUrl":{"type":"string"},"explorerUrl":{"type":"string"},"providerConfigured":{"type":"boolean"}},"required":["chainId","name","network","rpcUrl","explorerUrl","providerConfigured"]}}}}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/assets":{"get":{"summary":"Search issuer-listed assets and their recorded chain observations","description":"Public. Anonymous callers get 120 requests a minute per address; a key or a session uses its own budget. Each asset carries `state`: multiplier, pending multiplier, pause flags, supply, recorded beacon dependency, the Chainlink feed and Robinhood's quote.","security":[],"parameters":[{"name":"trust","in":"query","schema":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"description":"Filter the Robinhood listing collection by its shared trust verdict. Community tokens are resolved by /tokens/{address} and listed under /dex/pools; they are not added to Robinhood's registry."},{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Symbol or name substring"},{"name":"symbols","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA,AAPL","description":"Comma-separated exact tickers, up to 200; any past that are ignored"},{"name":"sort","in":"query","schema":{"type":"string","enum":["symbol","name","type","address","verified","multiplier","price","lookalikes","state","newest","holders","float"]},"description":"Sort the entire filtered collection before pagination. Identity uses verified/listed metadata agreement; state uses the displayed state label. Without browse parameters the legacy registry ordering is preserved."},{"name":"order","in":"query","schema":{"type":"string","enum":["asc","desc"]},"description":"Text and state default ascending; identity, numeric values and first-listed dates default descending. Missing values are last in either direction; equal values use contract address ascending."},{"name":"type","in":"query","schema":{"type":"string","enum":["all","stock_token","stablecoin","wrapped_native","bridged"]},"description":"Listing asset category"},{"name":"verified","in":"query","schema":{"type":"string","enum":["0","1"]},"description":"1 requires the contract symbol and decimals to match the listing with a verification receipt"},{"name":"state","in":"query","schema":{"type":"string","enum":["all","feed","stale","paused","halted","pending","residual","divergent","lookalikes"]},"description":"Filter recorded authority state"},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":50},"description":"Opt into pagination, default 50 when offset is supplied. Omit both limit and offset to retain the complete collection."},{"name":"offset","in":"query","schema":{"type":"integer","minimum":0,"maximum":1000000},"description":"Rows to skip after all filters and sorting, default 0"},{"name":"fields","in":"query","required":false,"schema":{"type":"string"},"example":"lookalikes,feedRounds,concentration","description":"Extra per-asset blocks: lookalikes, corporateActions, multiplierHistory, feedRounds, concentration (up to 50 assets)"}],"responses":{"200":{"description":"Assets, each with trust and state, plus any extra blocks fields= asked for","content":{"application/json":{"schema":{"type":"object","properties":{"assets":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":["string","null"]},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":["string","null"],"format":"date-time"},"onchainName":{"type":["string","null"]},"onchainSymbol":{"type":["string","null"]},"onchainDecimals":{"type":["integer","null"]},"metadataCheckedAt":{"type":["string","null"],"format":"date-time"},"isin":{"type":["string","null"]},"logoUrl":{"type":["string","null"]}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},{"type":"object","properties":{"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"label":{"type":"string"},"detail":{"type":"string"}}},"state":{"type":["object","null"],"description":"The asset's live state as the registry daemon last read it; every sub-block carries the time it was read.","properties":{"multiplier":{"type":["number","null"]},"pendingMultiplier":{"type":["number","null"]},"multiplierEffectiveAt":{"type":["string","null"],"format":"date-time"},"tokenPaused":{"type":["boolean","null"]},"oraclePaused":{"type":["boolean","null"]},"totalSupplyRaw":{"type":["string","null"]},"totalSupplyUi":{"type":["string","null"]},"canonical":{"type":["boolean","null"]},"beacon":{"type":["string","null"]},"implementation":{"type":["string","null"]},"feed":{"type":["object","null"],"properties":{"address":{"type":"string"},"price":{"type":["number","null"]},"updatedAt":{"type":["string","null"]},"stale":{"type":["boolean","null"]}}},"quote":{"type":["object","null"],"properties":{"bid":{"type":["number","null"]},"ask":{"type":["number","null"]},"tradingHalt":{"type":["boolean","null"]},"dailyVolume":{"type":["number","null"]},"at":{"type":["string","null"]}}},"priceDivergencePct":{"type":["number","null"]},"dex":{"type":["object","null"],"description":"The deepest dollar-priced pool and its premium to the feed."},"secondSource":{"type":["object","null"],"description":"The chain explorer's holders, transfers and supply, with supplyAgreement agree|close|differ|unknown."},"checkedAt":{"type":["string","null"],"format":"date-time"}}},"lookalikes":{"type":"array","items":{"type":"object"}},"corporateActions":{"type":"array","items":{"type":"object"}},"multiplierHistory":{"type":"array","items":{"type":"object"}},"feedRounds":{"type":"array","items":{"type":"object"}}}}]}},"total":{"type":"integer","description":"Full matching count when pagination is requested"},"limit":{"type":"integer"},"offset":{"type":"integer"},"nextOffset":{"type":["integer","null"],"description":"Next offset, or null at the end of the filtered collection"},"fields":{"type":"array","items":{"type":"string"},"description":"The extra blocks a caller may request"}}}}}},"400":{"description":"Invalid or repeated query parameter, or fields= was set on more than 50 assets","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}":{"get":{"summary":"Get one registry asset by symbol, with its state, multiplier history, mints and burns, supply snapshots, corporate actions and control-plane events","description":"Public, rate-limited per address when anonymous. Raw amounts are strings (exact on chain); prices and multipliers are numbers.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"AAPL"}],"responses":{"200":{"description":"The asset with everything the registry knows about it","content":{"application/json":{"schema":{"type":"object","properties":{"asset":{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":["string","null"]},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":["string","null"],"format":"date-time"},"onchainName":{"type":["string","null"]},"onchainSymbol":{"type":["string","null"]},"onchainDecimals":{"type":["integer","null"]},"metadataCheckedAt":{"type":["string","null"],"format":"date-time"},"isin":{"type":["string","null"]},"logoUrl":{"type":["string","null"]}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"label":{"type":"string"},"detail":{"type":"string"}}},"state":{"type":["object","null"],"description":"The asset's live state as the registry daemon last read it; every sub-block carries the time it was read.","properties":{"multiplier":{"type":["number","null"]},"pendingMultiplier":{"type":["number","null"]},"multiplierEffectiveAt":{"type":["string","null"],"format":"date-time"},"tokenPaused":{"type":["boolean","null"]},"oraclePaused":{"type":["boolean","null"]},"totalSupplyRaw":{"type":["string","null"]},"totalSupplyUi":{"type":["string","null"]},"canonical":{"type":["boolean","null"]},"beacon":{"type":["string","null"]},"implementation":{"type":["string","null"]},"feed":{"type":["object","null"],"properties":{"address":{"type":"string"},"price":{"type":["number","null"]},"updatedAt":{"type":["string","null"]},"stale":{"type":["boolean","null"]}}},"quote":{"type":["object","null"],"properties":{"bid":{"type":["number","null"]},"ask":{"type":["number","null"]},"tradingHalt":{"type":["boolean","null"]},"dailyVolume":{"type":["number","null"]},"at":{"type":["string","null"]}}},"priceDivergencePct":{"type":["number","null"]},"dex":{"type":["object","null"],"description":"The deepest dollar-priced pool and its premium to the feed."},"secondSource":{"type":["object","null"],"description":"The chain explorer's holders, transfers and supply, with supplyAgreement agree|close|differ|unknown."},"checkedAt":{"type":["string","null"],"format":"date-time"}}},"multiplierHistory":{"type":"array","items":{"type":"object"}},"supplyEvents":{"type":"array","items":{"type":"object"}},"supplySnapshots":{"type":"array","items":{"type":"object"}},"corporateActions":{"type":"array","items":{"type":"object"}},"controlEvents":{"type":"array","items":{"type":"object"}},"lookalikes":{"type":"array","items":{"type":"object"}},"feedRounds":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"No such asset on this chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/control-plane":{"get":{"summary":"The issuer's AccessControlsRegistry: paused, implementation, blocked-address count, and its latest events","description":"Public. One contract governs every Stock Token: this is the surface no other index publishes. `limit` caps events (default 50, max 200), newest first. `offset` skips that many events, so `offset=200&limit=200` is the second page; an event that lands between two page reads repeats one row on the next page, so a consumer copying the log dedupes by `txHash` and `logIndex`. A page shorter than `limit` is the last one. `state` is the same on every page.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200},"description":"Events per page (default 50)"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0},"description":"Events to skip before the page (default 0)"}],"responses":{"200":{"description":"Registry state and events","content":{"application/json":{"schema":{"type":"object","properties":{"state":{"type":"object"},"events":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/health":{"get":{"summary":"The chain's latest vital signs: head, block time, base fee, L1 block, batch count, delayed messages, batch-poster balance, status page","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Latest reading","content":{"application/json":{"schema":{"type":"object","properties":{"health":{"type":"object"}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/corporate-actions":{"get":{"summary":"Corporate actions in progress, as Robinhood publishes them, tied to the token each affects","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Actions in progress","content":{"application/json":{"schema":{"type":"object","properties":{"actions":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/assets/{symbol}/holders":{"get":{"summary":"Holders largest first with share of supply and what each address is, holder count, the latest concentration reading with the shares that say where the supply sits, and whether the ledger has reached the chain head","description":"Public. `sits` is always one of `float`, `pools`, `issuer`, `bridge`, `contracts`, `unknown`, and names the concentration share this address's balance counts towards; `unknown` means the code probe has not checked this address yet. `label` and `labelKind` (`pool_manager`, `dex_pool`, `issuer`, `bridge_gateway`, `locker`, `contract`, `exchange`, `eoa`) are null for an address the registry has nothing to say about. `rawBalance` is in the token's base units; divide by 10^`decimals`. `sharePct` is that balance over `totalSupplyRaw`, read live, while the concentration shares are over the sum of every positive balance the ledger held at `concentration.asOfBlock`, so the two can differ slightly while the ledger trails the chain. `concentration` carries `top1Pct`, `top10Pct` and `gini` over every positive balance, and the six shares `floatPct`, `poolsPct`, `issuerPct`, `bridgePct`, `contractsPct` and `unknownPct`, which add to 100: float is the supply in ordinary wallets. `unknownPct` is the share held by addresses the code probe has not checked — it checks every holder above a ten-thousandth of a token's supply, so a tail of small holdings stays here permanently and `floatPct` is always a floor rather than a final answer. `issuerPct` is the share of every wallet labelled `issuer`, which is written only for Stock Tokens, whose mints are the issuer creating inventory; `issuerAddress` is this asset's largest mint recipient whatever the asset type. `concentration.day` is the UTC day of the reading, `takenAt` the ISO instant the job wrote it, and `asOfBlock` the ledger block it was computed at; the job runs every 24 h, so a share can be up to a day old. `concentration.holders` is the address count at that moment, while the top-level `holderCount` is read live and can differ. The shares come from the daily concentration job, which does not run while the transfer ledger is still reading history, so `concentration` is null until the ledger reaches head.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":50},"description":"How many holders, largest first"}],"responses":{"200":{"description":"Holders","content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string"},"decimals":{"type":"integer"},"totalSupplyRaw":{"type":["string","null"],"description":"Live total supply in base units, the denominator of sharePct"},"holders":{"type":"array","items":{"type":"object","properties":{"holder":{"type":"string"},"rawBalance":{"type":"string","description":"Base units; divide by 10^decimals"},"sharePct":{"type":["number","null"]},"asOfBlock":{"type":"string"},"label":{"type":["string","null"]},"labelKind":{"type":["string","null"],"enum":["pool_manager","dex_pool","issuer","bridge_gateway","locker","contract","exchange","eoa",null]},"sits":{"type":"string","enum":["float","pools","issuer","bridge","contracts","unknown"]}}}},"holderCount":{"type":"integer"},"concentration":{"type":["object","null"]},"progress":{"type":"object"}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/activity":{"get":{"summary":"Transfers as economics, one row per UTC day: transfers, volume, mints, burns, DvP against USDG, off-hours transfers","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"days","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":400,"default":30},"description":"How many UTC days back; a malformed value reads as the default"}],"responses":{"200":{"description":"Days","content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/pools":{"get":{"summary":"Pools trading the asset on every DEX the registry reads, deepest first, with venue, price, liquidity, fee, hooks, last-day swaps and volume, and the pool behind the asset's premium to the feed","description":"Public. `venue` is `uniswap_v4` or `uniswap_v3`; a v4 pool is an id inside the one PoolManager and has a null `poolAddress`, a v3 pool is a contract and carries its address. A pool is recorded when one side is this asset and the other is a listed quote (USDG, WETH or another Stock Token). Pools are deepest first by `depthUsd`. V3 depth uses observed quote-side holdings. V4 depth uses a bounded quote estimate for a 1% price move, where per-pool token reserves are unavailable; `liquidity` is the pool's in-range Uniswap liquidity L in raw units, not a dollar figure, and is comparable only between pools of the same pair (its scale follows the two tokens' decimals). `best` is the deepest pool in dollars of any venue, which is the one the asset's premium to the Chainlink feed is measured from, and names its venue. `swaps24h` counts swap logs and `transactions24h` counts distinct transactions in (metricsAsOf - 24 hours, metricsAsOf], using each event block timestamp. Values are null until the entire window is indexed and when its end is more than 120 seconds old. `volumeUsd24h` uses the indexed quote leg. USDG is nominally denominated at 1 USDG = $1; WETH uses a recorded historical oracle estimate with at most one-hour archive sample age and an oracle answer within its published heartbeat. `volumeValuation` retains the method and coverage reason. Zero means a completely scanned window with no matching activity. `discovery` says how far each venue's pool scan has read: while `readingHistory` is true, a pool created in blocks the scan has not reached yet is not listed, and a venue whose `scanned` is false has not been read at all.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"}],"responses":{"200":{"description":"Pools","content":{"application/json":{"schema":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object"}},"best":{"type":["object","null"]},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":["string","null"]},"headBlock":{"type":["string","null"]},"headAt":{"type":["string","null"],"format":"date-time","description":"When the chain head above was read."},"blocksBehind":{"type":["string","null"]},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/tokens/{address}":{"get":{"summary":"Token identity and current market observations at one contract address","description":"Public. The canonical trust verdict is shared by pages and pool responses. A lookalike records a normalized name or ticker collision; it does not establish intent. `reading` is the exact token-page observation: full address, economic selection reason, same-name alternatives, selected-pool volume, market cap and holders with source, timestamp and missing-value reason. Community dominance is an economic comparison. `market` retains the compact selected-pool view. V3 quote holdings and V4 bounded 1% quote input are separate measures. Volume sources distinguish nominal USDG quote units from WETH converted with a historical oracle estimate.","security":[],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"example":"0x0000000000000000000000000000000000000000"}],"responses":{"200":{"description":"What this token is","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"address":{"type":"string"},"trust":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"label":{"type":"string"},"detail":{"type":"string"},"impersonates":{"type":["object","null"],"properties":{"symbol":{"type":"string"},"name":{"type":"string"},"address":{"type":"string"},"registryUrl":{"type":"string"}}},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"decimals":{"type":["integer","null"]},"source":{"type":"string","enum":["registry","discovered","none"]},"firstSeenAt":{"type":["string","null"],"format":"date-time"},"readAt":{"type":["string","null"],"format":"date-time"},"registryUrl":{"type":["string","null"]},"explorerUrl":{"type":"string"},"reading":{"anyOf":[{"type":"object","properties":{"robinhoodApp":{"type":"object","properties":{"source":{"type":"string"},"observedAt":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"]},"stale":{"type":"boolean"},"error":{"type":["string","null"]},"scope":{"type":"string","const":"crypto_currency_pairs"},"reason":{"type":"string"},"status":{"type":"string","enum":["tradable","display_only","not_in_app","not_covered","unavailable"]},"pairs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"symbol":{"type":"string"},"display_only":{"type":"boolean"},"tradability":{"type":"string","enum":["tradable","untradable"]},"tradability_by_account_type":{"type":"object","additionalProperties":{"type":"string","enum":["tradable","untradable"]}},"is_stablecoin":{"type":"boolean"},"min_order_size":{"type":"string"},"max_order_size":{"type":"string"},"asset_currency":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"display_only":{"type":"boolean"}},"required":["id","code","name","display_only"]},"quote_currency":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]}},"required":["id","symbol","display_only","tradability","tradability_by_account_type","is_stablecoin","min_order_size","max_order_size","asset_currency","quote_currency"]}},"match":{"type":"string","enum":["ticker_only","none"]}},"required":["source","observedAt","ageSeconds","stale","error","scope","reason","status","pairs","match"]},"stockToken":{"type":"object","properties":{"source":{"type":["string","null"]},"address":{"type":"string"},"observedAt":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"]},"verifiedAt":{"type":["string","null"],"format":"date-time"},"verified":{"type":"boolean"}},"required":["source","address","observedAt","ageSeconds","verifiedAt","verified"]},"stockPairingSummary":{"type":"object","properties":{"totalPools":{"type":"integer"},"counterparties":{"type":"integer"},"resolvedCounterparties":{"type":"integer"},"pendingCounterparties":{"type":"integer"},"observedSwapPools":{"type":"integer"},"latestSwapAt":{"type":["string","null"],"format":"date-time"},"ranking":{"type":"string","const":"latest_recorded_swap_then_resolved_metadata_then_creation_block_then_pool_id"},"source":{"type":"string"},"asOf":{"type":["string","null"],"format":"date-time"},"url":{"type":"string"}},"required":["totalPools","counterparties","resolvedCounterparties","pendingCounterparties","observedSwapPools","latestSwapAt","ranking","source","asOf","url"]},"stockPairings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"poolId":{"type":"string"},"venue":{"type":"string"},"stockSymbol":{"type":"string"},"stockAddress":{"type":"string"},"canonicalAddress":{"type":"string"},"stockVerdict":{"type":"string","enum":["canonical","lookalike","unconfirmed"]},"communityName":{"type":["string","null"]},"createdBlock":{"type":"string"},"metadataStatus":{"type":"string","enum":["current","stale","pending","failed"]},"metadataAgeSeconds":{"type":["integer","null"]},"metadataError":{"type":["string","null"]},"communityAddress":{"type":"string"},"communitySymbol":{"type":["string","null"]},"observedAt":{"type":["string","null"],"format":"date-time"},"lastSwapAt":{"type":["string","null"],"format":"date-time"}},"required":["id","communityName","createdBlock","metadataStatus","metadataAgeSeconds","metadataError","poolId","venue","stockSymbol","stockAddress","canonicalAddress","stockVerdict","communityAddress","communitySymbol","observedAt","lastSwapAt"]}},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"trust":{"type":"string","enum":["verified","listed","community","lookalike","unknown"]},"selection":{"type":"object","properties":{"selectedAt":{"type":["string","null"],"format":"date-time"},"expiresAt":{"type":["string","null"],"format":"date-time"},"policy":{"type":"string","description":"Versioned bounded selection: issuer listing, otherwise V3 quote holdings at least $10,000, otherwise V4 bounded 1% estimate at least $100. No issuer verification is inferred from economics."},"status":{"type":"string","enum":["current","stale","missing","invalid"]}},"required":["selectedAt","expiresAt","policy","status"],"description":"Recorded bounded universe comparison; expires after fifteen minutes. A stale selection withholds dominantAddress while retaining its explanation and observation time."},"dominantAddress":{"type":["string","null"]},"selectionReason":{"type":"string"},"closeCall":{"type":"boolean"},"alternatives":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"reason":{"type":"string"}},"required":["address","symbol","name","reason"]}},"bestPoolId":{"type":["string","null"]},"poolCount":{"type":"integer"},"decimals":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"totalSupplyRaw":{"type":"object","properties":{"value":{"type":["string","null"],"pattern":"^[0-9]+$"},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"burnedRaw":{"type":"object","properties":{"value":{"type":["string","null"],"pattern":"^[0-9]+$"},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"metadataReason":{"type":["string","null"]},"volumeScope":{"const":"selected_pool"},"priceUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"marketCapUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"volumeUsd24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"swaps24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"transactions24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"holders":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"v3QuoteHoldingsUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"v4OnePercentDepthUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]}},"required":["chainId","address","trust","selection","selectionReason","alternatives","priceUsd","marketCapUsd","volumeUsd24h","holders","volumeScope"]},{"type":"null"}]},"market":{"type":["object","null"],"properties":{"poolId":{"type":"string"},"venue":{"type":"string"},"priceUsd":{"type":["number","null"]},"depthUsd":{"type":["number","null"]},"swaps24h":{"type":["integer","null"]},"transactions24h":{"type":["integer","null"]},"metricsAsOf":{"type":["string","null"],"format":"date-time"},"priceSource":{"const":"dex"},"volumeUsd24h":{"type":["number","null"]}}},"note":{"type":"string"}},"required":["chainId","address","trust","label","detail","source","explorerUrl"]}}}},"400":{"description":"Not an address","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/stock-pairings":{"get":{"operationId":"getStockPairings","summary":"Discovered stock/community pools with counterparty metadata and pagination","description":"All recorded canonical factory pools for a verified stock contract or a same-ticker lookalike. Filter by stock, canonical stock, or community address. Each pool and stock side has a stable id. Sorted by latest recorded swap, resolved metadata, descending creation block, then pool id. A missing swap is unobserved activity, not zero. Summary counts cover the full filtered set; token market rows contain up to three grouped representatives. Offset pages reflect the current database and can move as swaps arrive.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer","const":4663}},{"name":"address","in":"query","schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"offset","in":"query","schema":{"type":"integer","minimum":0,"maximum":1000000,"default":0}}],"responses":{"200":{"description":"Recorded pairings and complete filtered counts","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"address":{"type":["string","null"]},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"poolId":{"type":"string"},"venue":{"type":"string"},"stockSymbol":{"type":"string"},"stockAddress":{"type":"string"},"canonicalAddress":{"type":"string"},"stockVerdict":{"type":"string","enum":["canonical","lookalike","unconfirmed"]},"communityName":{"type":["string","null"]},"createdBlock":{"type":"string"},"metadataStatus":{"type":"string","enum":["current","stale","pending","failed"]},"metadataAgeSeconds":{"type":["integer","null"]},"metadataError":{"type":["string","null"]},"communityAddress":{"type":"string"},"communitySymbol":{"type":["string","null"]},"observedAt":{"type":["string","null"],"format":"date-time"},"lastSwapAt":{"type":["string","null"],"format":"date-time"}},"required":["id","communityName","createdBlock","metadataStatus","metadataAgeSeconds","metadataError","poolId","venue","stockSymbol","stockAddress","canonicalAddress","stockVerdict","communityAddress","communitySymbol","observedAt","lastSwapAt"]}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"},"nextOffset":{"type":["integer","null"]},"summary":{"type":"object","properties":{"totalPools":{"type":"integer"},"counterparties":{"type":"integer"},"resolvedCounterparties":{"type":"integer"},"pendingCounterparties":{"type":"integer"},"observedSwapPools":{"type":"integer"},"latestSwapAt":{"type":["string","null"],"format":"date-time"},"ranking":{"type":"string","const":"latest_recorded_swap_then_resolved_metadata_then_creation_block_then_pool_id"},"source":{"type":"string"},"asOf":{"type":["string","null"],"format":"date-time"},"url":{"type":"string"}},"required":["totalPools","counterparties","resolvedCounterparties","pendingCounterparties","observedSwapPools","latestSwapAt","ranking","source","asOf","url"]}},"required":["chainId","address","items","total","limit","offset","nextOffset","summary"]}}}},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unsupported chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"503":{"description":"Pairing database read unavailable","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/app-catalog":{"get":{"operationId":"getAppCatalog","summary":"Robinhood crypto currency-pairs catalog with source scope and observation age","description":"Public. Scope is crypto_currency_pairs. Stock Tokens use a separate address-based list. Legacy status not_in_app means only no matching crypto ticker; stock_token assets return not_covered. Includes symbols without a known on-chain contract. Display-only means a price feed without app trading. Inspect per-account tradability, stale and error. Symbols are ticker matches, not contract verification. Follow nextOffset until null. Pages read the current snapshot, which can change between requests. The observer targets 15 seconds; this endpoint reads its stored result.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer","const":4663}},{"name":"q","in":"query","schema":{"type":"string","maxLength":128}},{"name":"status","in":"query","schema":{"type":"string","enum":["tradable","display_only","unavailable"]}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":200,"default":100}},{"name":"offset","in":"query","schema":{"type":"integer","minimum":0,"maximum":1000000,"default":0}}],"responses":{"200":{"description":"Recorded app catalog, with freshness and source errors","content":{"application/json":{"schema":{"type":"object","properties":{"source":{"type":"string"},"observedAt":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"]},"stale":{"type":"boolean"},"error":{"type":["string","null"]},"scope":{"type":"string","const":"crypto_currency_pairs"},"chainId":{"type":"integer"},"cadenceSeconds":{"type":"integer"},"note":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"symbol":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","enum":["tradable","display_only","not_in_app","not_covered","unavailable"]},"label":{"type":"string"},"pairs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"symbol":{"type":"string"},"display_only":{"type":"boolean"},"tradability":{"type":"string","enum":["tradable","untradable"]},"tradability_by_account_type":{"type":"object","additionalProperties":{"type":"string","enum":["tradable","untradable"]}},"is_stablecoin":{"type":"boolean"},"min_order_size":{"type":"string"},"max_order_size":{"type":"string"},"asset_currency":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"display_only":{"type":"boolean"}},"required":["id","code","name","display_only"]},"quote_currency":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]}},"required":["id","symbol","display_only","tradability","tradability_by_account_type","is_stablecoin","min_order_size","max_order_size","asset_currency","quote_currency"]}},"marketsUrl":{"type":"string"}},"required":["symbol","name","status","label","pairs","marketsUrl"]}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"},"nextOffset":{"type":["integer","null"]}},"required":["source","observedAt","ageSeconds","stale","error","scope","chainId","cadenceSeconds","note","items","total","limit","offset","nextOffset"]}}}},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unsupported chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"503":{"description":"No catalog observation yet","content":{"application/json":{"schema":{"type":"object","properties":{"source":{"type":"string"},"observedAt":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"]},"stale":{"type":"boolean"},"error":{"type":["string","null"]},"scope":{"type":"string","const":"crypto_currency_pairs"},"chainId":{"type":"integer"},"cadenceSeconds":{"type":"integer"},"note":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"symbol":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","enum":["tradable","display_only","not_in_app","not_covered","unavailable"]},"label":{"type":"string"},"pairs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"symbol":{"type":"string"},"display_only":{"type":"boolean"},"tradability":{"type":"string","enum":["tradable","untradable"]},"tradability_by_account_type":{"type":"object","additionalProperties":{"type":"string","enum":["tradable","untradable"]}},"is_stablecoin":{"type":"boolean"},"min_order_size":{"type":"string"},"max_order_size":{"type":"string"},"asset_currency":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"display_only":{"type":"boolean"}},"required":["id","code","name","display_only"]},"quote_currency":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]}},"required":["id","symbol","display_only","tradability","tradability_by_account_type","is_stablecoin","min_order_size","max_order_size","asset_currency","quote_currency"]}},"marketsUrl":{"type":"string"}},"required":["symbol","name","status","label","pairs","marketsUrl"]}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"},"nextOffset":{"type":["integer","null"]}},"required":["source","observedAt","ageSeconds","stale","error","scope","chainId","cadenceSeconds","note","items","total","limit","offset","nextOffset"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/discoveries":{"get":{"operationId":"getTokenDiscoveries","summary":"Latest token addresses recorded by Fletch","description":"Public. Includes community contracts with successfully read metadata and bytecode, plus active Stock Token and bridged-asset records. Hidden contracts are excluded. Deduplicated by address, ordered by firstSeenAt descending with address ties. Listed addresses retain the earliest known observation. First recorded is not a contract deployment date, Robinhood app listing or evidence of trading. Coverage is incomplete and historical indexing can discover old contracts. asOf is the read snapshot time; firstSeenAt and metadataCheckedAt keep their source times. The Registry sidebar and /registry/feed.xml use the same read model. Supports ETag and a fifteen-second cache. Polling returns a bounded latest window, not a complete event archive.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer","const":4663}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":50,"default":20}}],"responses":{"200":{"description":"Recent address discoveries with identity and observation times","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"asOf":{"type":"string","format":"date-time"},"scope":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":["string","null"]},"source":{"type":"string","enum":["contract_metadata","asset_list"]},"firstSeenAt":{"type":"string","format":"date-time"},"metadataCheckedAt":{"type":["string","null"],"format":"date-time"},"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"label":{"type":"string"},"detail":{"type":"string"}}}},"required":["address","symbol","name","source","firstSeenAt","metadataCheckedAt","trust"]}}},"required":["chainId","asOf","scope","items"]}}}},"304":{"description":"Discovery window unchanged. Reuse the previous response."},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unsupported chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"503":{"description":"Token discoveries unavailable","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/search":{"get":{"operationId":"searchTokenContracts","summary":"Search recorded token contracts across the registry","description":"Public. Searches active asset records, visible contract metadata, lookalike observations and explorer candidates, including addresses outside tracked markets. Accepts case-insensitive tickers with optional $, names with words in any order, recorded on-chain aliases, ISINs, full or shortened addresses, 4663:address or eip155:4663:address, supported token/address/pool URLs, V3 pool addresses and V4 pool IDs. Pool matches return their recorded currencies. Address prefixes require at least four hexadecimal characters; shortened addresses may use an ellipsis or three dots with at least four characters on each side. Results deduplicate by address and retain source, observedAt, trust and trackedMarket. Missing metadata remains null. When text of at least four characters has no literal match, similar names or tickers may be returned with similar=true. An unknown address or empty result does not prove that no contract exists. Supply each parameter once; unsupported parameters return 400. Responses support ETag and a fifteen-second cache. Pagination reads the current recorded data and may change as indexing advances.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer","const":4663}},{"name":"q","in":"query","description":"Search text or a supported URL. At most 2048 input characters and 128 characters after normalization. Omit for an empty result.","schema":{"type":"string","maxLength":2048}},{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"maximum":99999,"default":1}},{"name":"limit","in":"query","schema":{"type":"integer","enum":[10,20,50],"default":10}}],"responses":{"200":{"description":"Matching contract records with source age and identity verdict","content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","maxLength":128,"description":"Normalized query after extracting supported links, ticker prefixes or chain-qualified addresses."},"mode":{"type":"string","enum":["text","address","fragment","pool","isin"]},"similar":{"type":"boolean","description":"True when no literal text match was found and the response contains similar names or tickers. Inspect the full address before selecting a result."},"items":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string","pattern":"^0x[0-9a-f]{40}$"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"isin":{"type":["string","null"]},"source":{"type":"string","enum":["asset_list","contract_metadata","lookalike_scan","explorer_candidate"],"description":"The record that supplied the displayed label. asset_list includes registry assets from issuer, bridge and seed records. explorer_candidate is a reported identity awaiting independent contract checks."},"observedAt":{"type":["string","null"],"format":"date-time","description":"When the label's source was observed. Null means no observation yet; serving a cached result does not advance this time."},"trust":{"type":"string","enum":["verified","listed","lookalike","community","unknown"],"description":"Independent registry identity verdict. A search match does not grant verification."},"trackedMarket":{"type":"boolean","description":"Whether this address belongs to the tracked market set. It does not establish current price or activity coverage."}},"required":["address","symbol","name","isin","source","observedAt","trust","trackedMarket"]}},"total":{"type":"integer","minimum":0,"description":"Distinct matching recorded addresses before pagination. An empty page beyond the last result retains this total."},"page":{"type":"integer","minimum":1,"maximum":99999},"pageSize":{"type":"integer","enum":[10,20,50]},"checkedAt":{"type":"string","format":"date-time","description":"When the search result was computed. Use each item's observedAt for the underlying source age."},"chainId":{"type":"integer","const":4663},"scope":{"type":"string"}},"required":["query","mode","similar","items","total","page","pageSize","checkedAt","chainId","scope"]}}}},"304":{"description":"Search result unchanged. Reuse the body from the previous successful response."},"400":{"description":"Invalid query or pagination","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unsupported chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"503":{"description":"Contract search unavailable","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/markets":{"get":{"summary":"Priority tokens, one contract per row, ordered by observed selected-pool volume","description":"Public. The unfiltered market table contains tracked tokens. A full address can request another recorded contract's readings. q also returns contractSearch across the recorded registry, with its own total and ten-result pages selected by searchPage; market filters apply to items, not to contractSearch. contractSearchError preserves an unavailable search as an error while existing market readings can still return. Each market metric carries structured observation provenance, computation inputs, coverage, source/fetch times and expiry, alongside compatibility source/asOf/reason fields. Pool state expires after three minutes, changing supply and burn balances after five minutes, and selected-pool swap windows after two minutes. Capitalization expires with its earliest-expiring required input. Missing provenance remains null. Selection time and its fifteen-minute policy expiry are explicit; stale selection withholds dominance. Volume covers the selected pool only. Numeric sorts support order=asc or desc, with unavailable values last and stable contract-address ties. Name sorts ascending when order is omitted. Raw market observations can be shared for ten seconds, while ages, expiry and filtering are recomputed per request. Contract search can be cached for fifteen seconds. Source timestamps retain their observation times. Economic dominance does not change a trust verdict. A missing price or incomplete activity window remains unavailable.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer","const":4663}},{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"maximum":999999,"default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","enum":[25,50],"default":25}},{"name":"searchPage","in":"query","description":"Independent page of ten contractSearch matches when q is supplied. Market pagination still uses page and pageSize.","schema":{"type":"integer","minimum":1,"maximum":99999,"default":1}},{"name":"kind","in":"query","description":"all: Issuer listings and priority community contracts. listed: Contracts in the issuer list, including pending checks. community: Priority contracts outside the issuer list. Check their trust badge.","schema":{"type":"string","enum":["all","listed","community"],"default":"all"}},{"name":"trust","in":"query","description":"all: Keep every recorded identity verdict. verified: Issuer listing and matching contract checks. listed: Issuer listing with checks still incomplete. community: Resolved metadata with no recorded issuer-name collision. lookalike: Name or symbol collides with a verified asset. unknown: Identity calls have not resolved this contract.","schema":{"type":"string","enum":["all","verified","listed","community","lookalike","unknown"],"default":"all"}},{"name":"sort","in":"query","description":"price: Current selected-pool price in USD. pools: Recorded canonical pool count. volume: Selected-pool USD volume, highest first. swaps: Selected-pool swap events, highest first. market_cap: Outstanding supply estimate times current price, highest first. v3_depth: Observed quote-side holdings in dollars, highest first. v4_depth: Bounded quote input for a 1% move, highest first. name: Alphabetical name, then contract address.","schema":{"type":"string","enum":["price","pools","volume","swaps","market_cap","v3_depth","v4_depth","name"],"default":"volume"}},{"name":"order","in":"query","description":"desc: Descending values; unavailable readings remain last. Numeric sorts default to descending. asc: Ascending values; unavailable readings remain last. Name sorting defaults to ascending when order is omitted.","schema":{"type":"string","enum":["desc","asc"]}},{"name":"activity","in":"query","description":"all: Include incomplete and unavailable swap windows. traded: At least one swap in a complete current 24-hour window. busy: At least 100 swaps in a complete current window. quiet: A complete current window with exactly zero swaps.","schema":{"type":"string","enum":["all","traded","busy","quiet"],"default":"all"}},{"name":"data","in":"query","description":"all: Keep unavailable measures with their reason. priced: Usable selected-pool price with pool state and quote conversion inside their three-minute freshness policy. volume: Valued 24-hour window counted through the last two minutes. complete: All three measures have usable current inputs.","schema":{"type":"string","enum":["all","priced","volume","complete"],"default":"all"}},{"name":"depth","in":"query","description":"all: Keep both pool types and unavailable observations. v3_10k: At least $10,000 of current quote-side holdings. v3_100k: At least $100,000 of current quote-side holdings. v4_1k: At least $1,000 of bounded quote input for a 1% move. v4_10k: At least $10,000 of bounded quote input for a 1% move.","schema":{"type":"string","enum":["all","v3_10k","v3_100k","v4_1k","v4_10k"],"default":"all"}},{"name":"identity","in":"query","description":"all: One row per recorded priority contract. dominant: Community contracts selected by the recorded economic comparison. same_name: Contracts with alternatives in the recorded comparison set. close_call: The dominance comparison recorded a close call.","schema":{"type":"string","enum":["all","dominant","same_name","close_call"],"default":"all"}},{"name":"minVolumeUsd","in":"query","description":"Inclusive selected-pool USD volume threshold. Requires a complete current valued window.","schema":{"type":"number","minimum":0,"maximum":1000000000000}},{"name":"q","in":"query","description":"Ticker, words in a name, ISIN, full or shortened address, chain-qualified address, supported URL or pool identifier. The normalized query must be at most 128 characters. Matching recorded contracts appear in contractSearch; a full token address also requests its market readings.","schema":{"type":"string"}}],"responses":{"200":{"description":"A page of token observations","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"items":{"type":"array","items":{"type":"object","properties":{"robinhoodApp":{"type":"object","properties":{"source":{"type":"string"},"observedAt":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"]},"stale":{"type":"boolean"},"error":{"type":["string","null"]},"scope":{"type":"string","const":"crypto_currency_pairs"},"reason":{"type":"string"},"status":{"type":"string","enum":["tradable","display_only","not_in_app","not_covered","unavailable"]},"pairs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"symbol":{"type":"string"},"display_only":{"type":"boolean"},"tradability":{"type":"string","enum":["tradable","untradable"]},"tradability_by_account_type":{"type":"object","additionalProperties":{"type":"string","enum":["tradable","untradable"]}},"is_stablecoin":{"type":"boolean"},"min_order_size":{"type":"string"},"max_order_size":{"type":"string"},"asset_currency":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"display_only":{"type":"boolean"}},"required":["id","code","name","display_only"]},"quote_currency":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]}},"required":["id","symbol","display_only","tradability","tradability_by_account_type","is_stablecoin","min_order_size","max_order_size","asset_currency","quote_currency"]}},"match":{"type":"string","enum":["ticker_only","none"]}},"required":["source","observedAt","ageSeconds","stale","error","scope","reason","status","pairs","match"]},"stockToken":{"type":"object","properties":{"source":{"type":["string","null"]},"address":{"type":"string"},"observedAt":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"]},"verifiedAt":{"type":["string","null"],"format":"date-time"},"verified":{"type":"boolean"}},"required":["source","address","observedAt","ageSeconds","verifiedAt","verified"]},"stockPairingSummary":{"type":"object","properties":{"totalPools":{"type":"integer"},"counterparties":{"type":"integer"},"resolvedCounterparties":{"type":"integer"},"pendingCounterparties":{"type":"integer"},"observedSwapPools":{"type":"integer"},"latestSwapAt":{"type":["string","null"],"format":"date-time"},"ranking":{"type":"string","const":"latest_recorded_swap_then_resolved_metadata_then_creation_block_then_pool_id"},"source":{"type":"string"},"asOf":{"type":["string","null"],"format":"date-time"},"url":{"type":"string"}},"required":["totalPools","counterparties","resolvedCounterparties","pendingCounterparties","observedSwapPools","latestSwapAt","ranking","source","asOf","url"]},"stockPairings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"poolId":{"type":"string"},"venue":{"type":"string"},"stockSymbol":{"type":"string"},"stockAddress":{"type":"string"},"canonicalAddress":{"type":"string"},"stockVerdict":{"type":"string","enum":["canonical","lookalike","unconfirmed"]},"communityName":{"type":["string","null"]},"createdBlock":{"type":"string"},"metadataStatus":{"type":"string","enum":["current","stale","pending","failed"]},"metadataAgeSeconds":{"type":["integer","null"]},"metadataError":{"type":["string","null"]},"communityAddress":{"type":"string"},"communitySymbol":{"type":["string","null"]},"observedAt":{"type":["string","null"],"format":"date-time"},"lastSwapAt":{"type":["string","null"],"format":"date-time"}},"required":["id","communityName","createdBlock","metadataStatus","metadataAgeSeconds","metadataError","poolId","venue","stockSymbol","stockAddress","canonicalAddress","stockVerdict","communityAddress","communitySymbol","observedAt","lastSwapAt"]}},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"trust":{"type":"string","enum":["verified","listed","community","lookalike","unknown"]},"selection":{"type":"object","properties":{"selectedAt":{"type":["string","null"],"format":"date-time"},"expiresAt":{"type":["string","null"],"format":"date-time"},"policy":{"type":"string","description":"Versioned bounded selection: issuer listing, otherwise V3 quote holdings at least $10,000, otherwise V4 bounded 1% estimate at least $100. No issuer verification is inferred from economics."},"status":{"type":"string","enum":["current","stale","missing","invalid"]}},"required":["selectedAt","expiresAt","policy","status"],"description":"Recorded bounded universe comparison; expires after fifteen minutes. A stale selection withholds dominantAddress while retaining its explanation and observation time."},"dominantAddress":{"type":["string","null"]},"selectionReason":{"type":"string"},"closeCall":{"type":"boolean"},"alternatives":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"reason":{"type":"string"}},"required":["address","symbol","name","reason"]}},"bestPoolId":{"type":["string","null"]},"poolCount":{"type":"integer"},"decimals":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"totalSupplyRaw":{"type":"object","properties":{"value":{"type":["string","null"],"pattern":"^[0-9]+$"},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"burnedRaw":{"type":"object","properties":{"value":{"type":["string","null"],"pattern":"^[0-9]+$"},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"metadataReason":{"type":["string","null"]},"volumeScope":{"const":"selected_pool"},"priceUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"marketCapUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"volumeUsd24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"swaps24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"transactions24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"holders":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"v3QuoteHoldingsUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"v4OnePercentDepthUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]}},"required":["chainId","address","trust","selection","selectionReason","alternatives","priceUsd","marketCapUsd","volumeUsd24h","holders","volumeScope"]}},"total":{"type":"integer"},"contractSearch":{"type":"object","properties":{"query":{"type":"string","maxLength":128,"description":"Normalized query after extracting supported links, ticker prefixes or chain-qualified addresses."},"mode":{"type":"string","enum":["text","address","fragment","pool","isin"]},"similar":{"type":"boolean","description":"True when no literal text match was found and the response contains similar names or tickers. Inspect the full address before selecting a result."},"items":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string","pattern":"^0x[0-9a-f]{40}$"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"isin":{"type":["string","null"]},"source":{"type":"string","enum":["asset_list","contract_metadata","lookalike_scan","explorer_candidate"],"description":"The record that supplied the displayed label. asset_list includes registry assets from issuer, bridge and seed records. explorer_candidate is a reported identity awaiting independent contract checks."},"observedAt":{"type":["string","null"],"format":"date-time","description":"When the label's source was observed. Null means no observation yet; serving a cached result does not advance this time."},"trust":{"type":"string","enum":["verified","listed","lookalike","community","unknown"],"description":"Independent registry identity verdict. A search match does not grant verification."},"trackedMarket":{"type":"boolean","description":"Whether this address belongs to the tracked market set. It does not establish current price or activity coverage."}},"required":["address","symbol","name","isin","source","observedAt","trust","trackedMarket"]}},"total":{"type":"integer","minimum":0,"description":"Distinct matching recorded addresses before pagination. An empty page beyond the last result retains this total."},"page":{"type":"integer","minimum":1,"maximum":99999},"pageSize":{"type":"integer","enum":[10,20,50]},"checkedAt":{"type":"string","format":"date-time","description":"When the search result was computed. Use each item's observedAt for the underlying source age."}},"required":["query","mode","similar","items","total","page","pageSize","checkedAt"]},"contractSearchError":{"type":"string","description":"Present when contract search could not be read. Existing market readings can still be returned; this is not an empty search result."},"catalog":{"type":"object","properties":{"source":{"type":"string"},"observedAt":{"type":["string","null"]},"ageSeconds":{"type":["integer","null"]},"stale":{"type":"boolean"},"error":{"type":["string","null"]},"pairs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"symbol":{"type":"string"},"display_only":{"type":"boolean"},"tradability":{"type":"string","enum":["tradable","untradable"]},"tradability_by_account_type":{"type":"object","additionalProperties":{"type":"string","enum":["tradable","untradable"]}},"is_stablecoin":{"type":"boolean"},"min_order_size":{"type":"string"},"max_order_size":{"type":"string"},"asset_currency":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"display_only":{"type":"boolean"}},"required":["id","code","name","display_only"]},"quote_currency":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]}},"required":["id","symbol","display_only","tradability","tradability_by_account_type","is_stablecoin","min_order_size","max_order_size","asset_currency","quote_currency"]}}},"required":["source","observedAt","ageSeconds","stale","error","pairs"]},"catalogMatches":{"type":"array","items":{"type":"object","properties":{"symbol":{"type":"string"},"name":{"type":"string"},"status":{"type":"object","properties":{"source":{"type":"string"},"observedAt":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"]},"stale":{"type":"boolean"},"error":{"type":["string","null"]},"scope":{"type":"string","const":"crypto_currency_pairs"},"reason":{"type":"string"},"status":{"type":"string","enum":["tradable","display_only","not_in_app","not_covered","unavailable"]},"pairs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"symbol":{"type":"string"},"display_only":{"type":"boolean"},"tradability":{"type":"string","enum":["tradable","untradable"]},"tradability_by_account_type":{"type":"object","additionalProperties":{"type":"string","enum":["tradable","untradable"]}},"is_stablecoin":{"type":"boolean"},"min_order_size":{"type":"string"},"max_order_size":{"type":"string"},"asset_currency":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"display_only":{"type":"boolean"}},"required":["id","code","name","display_only"]},"quote_currency":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]}},"required":["id","symbol","display_only","tradability","tradability_by_account_type","is_stablecoin","min_order_size","max_order_size","asset_currency","quote_currency"]}},"match":{"type":"string","enum":["ticker_only","none"]}},"required":["source","observedAt","ageSeconds","stale","error","scope","reason","status","pairs","match"]},"addresses":{"type":"array","items":{"type":"string"}}},"required":["symbol","name","status","addresses"]}},"page":{"type":"integer"},"pageSize":{"type":"integer"},"sort":{"type":"string"},"order":{"type":"string","enum":["asc","desc"]},"asOf":{"type":"string","format":"date-time"},"scope":{"type":"string"},"note":{"type":"string"},"appliedFilters":{"type":"object","additionalProperties":{"type":"string"},"description":"Normalized non-default filter values; defaults are in filterDefinitionsUrl. Page and pageSize are returned separately."},"filterDefinitionsUrl":{"type":"string"}},"required":["chainId","items","total","page","pageSize","asOf","sort"]}}}},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unsupported chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/markets/filters":{"get":{"summary":"Discover token-market filters, labels, thresholds and useful query presets","description":"The catalog used by the token Markets page and query parser. Combine filters with AND. Activity requires a complete current selected-pool window. Numeric thresholds exclude unavailable data, including for a threshold of zero. V3 quote holdings and V4 bounded depth are separate filters and sorts.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer","const":4663}}],"responses":{"200":{"description":"Machine-readable market filter catalog","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer","const":4663},"version":{"type":"integer"},"scope":{"type":"string"},"combination":{"type":"string"},"ordering":{"type":"string"},"filters":{"type":"object","properties":{"kind":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"trust":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"sort":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"order":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"activity":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"data":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"depth":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"identity":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]}},"required":["kind","trust","sort","order","activity","data","depth","identity"]},"minVolumeUsd":{"type":"object","properties":{"label":{"type":"string"},"minimum":{"type":"number"},"maximum":{"type":"number"},"description":{"type":"string"}},"required":["label","minimum","maximum","description"]},"presets":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"query":{"type":"object","additionalProperties":{"type":"string"}}},"required":["label","query"]}}},"required":["chainId","version","scope","combination","ordering","filters","minVolumeUsd","presets"]}}}},"404":{"description":"Unsupported chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/dex/pools":{"get":{"summary":"Indexed pools with token identity, separate depth measures and current swap observations","description":"Public. `kind=listed` filters membership in Robinhood's list; `kind=community` keeps unlisted priced tokens; `kind=lookalike` selects recorded collisions. The response `kind` is an alias of the canonical `trust` verdict; `listing` retains membership separately. `sort=volume` ranks actual current 24-hour volume, missing values last, with pool identity as the tie-break. `traction` explicitly adds depth and swap-count tie-breaks. Search accepts token names, tickers, full contracts, v3 pool addresses and v4 pool IDs. Swap and transaction counts require a complete current window. Volume sources distinguish nominal USDG denomination and historical WETH oracle estimates. V3 quote holdings and V4 bounded 1% quote input retain distinct labels and never form a combined TVL.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string","enum":["all","listed","community","lookalike"],"default":"all"},"description":"Also accepted as `trust`."},{"name":"tier","in":"query","required":false,"schema":{"type":"string","enum":["active","quiet","dormant","all"],"default":"active"},"description":"Which tiers to list; the default is the pools worth watching."},{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["traction","depth","volume","swaps","newest"],"default":"volume"}},{"name":"venue","in":"query","required":false,"schema":{"type":"string","enum":["uniswap_v4","uniswap_v3"]}},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Token or pool name, symbol, or a complete 0x address. Addresses are matched in full.","example":"PIPE"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0}}],"responses":{"200":{"description":"A page of pools","content":{"application/json":{"schema":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object","properties":{"poolId":{"type":"string"},"venue":{"type":"string","enum":["uniswap_v4","uniswap_v3"]},"kind":{"type":"string","enum":["verified","listed","community","lookalike","unknown"],"description":"Alias of trust for the priced token. Listing membership is separate."},"trust":{"type":"string","enum":["verified","listed","community","lookalike","unknown"]},"trustDetail":{"type":"string"},"tokenAddress":{"type":["string","null"]},"listing":{"type":"string","enum":["listed","unlisted"]},"depthMeasure":{"type":"string","enum":["quote_holdings","bounded_one_percent_quote","unavailable"]},"depthSource":{"type":["string","null"]},"quoteObservation":{"type":["object","null"],"properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"reason":{"type":["string","null"]},"sourceId":{"type":["string","null"],"description":"Stable source kind and identity; null when the stored source has no structured identity."},"sourceAt":{"type":["string","null"],"format":"date-time"},"fetchedAt":{"type":["string","null"],"format":"date-time"},"expiresAt":{"type":["string","null"],"format":"date-time"},"blockNumber":{"type":["string","null"],"pattern":"^[0-9]+$"},"blockHash":{"type":["string","null"]},"method":{"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":["string","number","boolean","null"]},"description":"Structured computation parameters, including historical quote sampling/oracle times and valuation assumptions when recorded."}},"required":["value","source","reason","sourceId","sourceAt","fetchedAt","expiresAt","blockNumber","blockHash","method","parameters"],"description":"Quote conversion captured with the pool snapshot. Null for older observations. A fixed USDG notional assumption has no oracle source timestamp."},"tier":{"type":"string","enum":["active","quiet","dormant"],"description":"Active pools are prioritized for background sampling; quiet pools receive a daily cycle; dormant pools receive demand-driven reads. Scheduling does not establish freshness: inspect stateCheckedAt and stateCurrent."},"lastSwapAt":{"type":["string","null"],"format":"date-time"},"poolAddress":{"type":["string","null"]},"currency0":{"type":"string"},"currency1":{"type":"string"},"fee":{"type":"integer"},"feeDynamic":{"type":"boolean"},"feePct":{"type":["number","null"]},"tickSpacing":{"type":"integer"},"hooks":{"type":"string"},"asset":{"type":["string","null"],"description":"The listed asset's ticker; null for a community pool."},"token":{"type":["object","null"],"description":"The unlisted side of a community pool, as its own contract describes it. Nothing here is verified.","properties":{"address":{"type":"string"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"decimals":{"type":["integer","null"]},"totalSupplyRaw":{"type":["string","null"],"description":"Base units; divide by 10^decimals."},"fdvUsd":{"type":["number","null"],"description":"Total supply times the pool's dollar price."},"burnedRaw":{"type":["string","null"],"description":"Sum of readable balances at the zero and dead addresses, in base units."},"marketCapUsd":{"type":["number","null"],"description":"Total supply minus zero/dead-address balances, times the pool price. An upper bound on circulating value. Null without supply, burn balances, decimals or usable price, or when recorded burns exceed supply. Confirmed zero outstanding supply renders zero."},"supplyReadAt":{"type":["string","null"],"format":"date-time"},"supplyExpiresAt":{"type":["string","null"],"format":"date-time"},"supplyCurrent":{"type":"boolean","description":"Supply and recorded burn balances are at most five minutes old. FDV and capitalization are withheld otherwise."},"readAt":{"type":["string","null"],"format":"date-time"}}},"quote":{"type":["string","null"]},"createdBlock":{"type":"string"},"sqrtPriceX96":{"type":["string","null"]},"tick":{"type":["integer","null"]},"liquidity":{"type":["string","null"]},"depthUsd":{"type":["number","null"],"description":"Depth in USD uses observed quote-side holdings for v3. For v4 it uses a bounded quote estimate for a 1% price move; per-pool token reserves are unavailable. Check the pool's observation time and stateCurrent flag."},"priceInQuote":{"type":["number","null"]},"priceUsd":{"type":["number","null"]},"swaps24h":{"type":["integer","null"]},"transactions24h":{"type":["integer","null"],"description":"Distinct transactions in the exact indexed 24-hour window."},"metricsAsOf":{"type":["string","null"],"format":"date-time","description":"End of the indexed 24-hour window; metrics expire after 120 seconds."},"metricsWindowStartAt":{"type":["string","null"],"format":"date-time"},"metricsCoverageComplete":{"type":"boolean"},"metricsCurrent":{"type":"boolean"},"volume0Raw":{"type":["string","null"],"description":"Sum of absolute currency0 swap amounts in base units, only for a complete current window."},"volume1Raw":{"type":["string","null"],"description":"Sum of absolute currency1 swap amounts in base units. Separate from currency0; the legs are never added together."},"volumeUsd24h":{"type":["number","null"]},"volumeValuation":{"type":["object","null"],"description":"Historical quote method, source and missing-value reason. USDG is nominal denomination; WETH uses a bounded-age historical oracle estimate."},"stateCheckedAt":{"type":["string","null"],"format":"date-time"},"stateCurrent":{"type":"boolean","description":"The pool state was observed within three minutes, its timestamp is not in the future, and its captured quote conversion has not expired. When false, depth, price, FDV and price changes are null; stateCheckedAt retains the actual observation time."},"pricePublished":{"type":"boolean","description":"Current state has a finite positive price and clears the configured depth floor."},"change5mPct":{"type":["number","null"],"description":"Dollar price against the newest sample at or before five minutes ago; null when no sample is old enough."},"change1hPct":{"type":["number","null"]},"change6hPct":{"type":["number","null"]},"change24hPct":{"type":["number","null"]}},"required":["poolId","venue","kind","currency0","currency1","fee","createdBlock","stateCurrent","pricePublished"]}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"},"kind":{"type":"string"},"tier":{"type":"string"},"sort":{"type":"string"},"venue":{"type":["string","null"]},"q":{"type":["string","null"]},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":["string","null"]},"headBlock":{"type":["string","null"]},"headAt":{"type":["string","null"],"format":"date-time","description":"When the chain head above was read."},"blocksBehind":{"type":["string","null"]},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}},"required":["pools","total","limit","offset","discovery"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/dex":{"get":{"summary":"The DEX venues the registry reads and what each contributes: pools trading a listed asset, how many carry a dollar price, the last day's swaps and volume, and how many assets take their premium from a pool there","description":"Public. One row per venue read (`uniswap_v
[...]
