{"openapi":"3.1.0","info":{"title":"Fletch v1 API","version":"1.0.0","description":"Read the registry, and read/create/pause/delete watchers, key-authenticated (Authorization: Bearer flk_...). A signed-in browser session also authenticates, with every scope below. See /llms.txt for a plain-text guide (docs/API.md in the repository has the same material at length). Watcher alerts can be delivered to a webhook endpoint registered under /webhooks, signed with HMAC-SHA256. Not yet in v1: deploy."},"servers":[{"url":"https://fletch.now/api/v1"}],"security":[{"bearerAuth":[]}],"paths":{"/chains":{"get":{"summary":"List Robinhood Chain networks","security":[{"bearerAuth":["registry:read"]}],"responses":{"200":{"description":"The two Robinhood chains","content":{"application/json":{"schema":{"type":"object","properties":{"chains":{"type":"array","items":{"type":"object","properties":{"chainId":{"type":"integer"},"name":{"type":"string"},"network":{"type":"string","enum":["mainnet","testnet"]},"rpcUrl":{"type":"string"},"explorerUrl":{"type":"string"},"providerConfigured":{"type":"boolean"}},"required":["chainId","name","network","rpcUrl","explorerUrl","providerConfigured"]}}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/assets":{"get":{"summary":"List (and optionally search) registry assets on a chain, each with its live on-chain state","description":"Public. Anonymous callers get 120 requests a minute per address; a key or a session uses its own budget. Each asset carries `state`: multiplier, pending multiplier, pause flags, supply, canonical proof, the Chainlink feed and Robinhood's quote.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Symbol or name substring"},{"name":"symbols","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA,AAPL","description":"Comma-separated exact tickers"},{"name":"fields","in":"query","required":false,"schema":{"type":"string"},"example":"lookalikes,feedRounds,concentration","description":"Extra per-asset blocks: lookalikes, corporateActions, multiplierHistory, feedRounds, concentration (up to 50 assets)"}],"responses":{"200":{"description":"Assets, each with trust and state, plus any extra blocks fields= asked for","content":{"application/json":{"schema":{"type":"object","properties":{"assets":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":"string","nullable":true},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":"string","format":"date-time","nullable":true},"onchainName":{"type":"string","nullable":true},"onchainSymbol":{"type":"string","nullable":true},"onchainDecimals":{"type":"integer","nullable":true},"metadataCheckedAt":{"type":"string","format":"date-time","nullable":true},"isin":{"type":"string","nullable":true},"logoUrl":{"type":"string","nullable":true}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},{"type":"object","properties":{"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string"},"label":{"type":"string"},"detail":{"type":"string"}}},"state":{"type":"object","nullable":true,"description":"The asset's live state as the registry daemon last read it; every sub-block carries the time it was read.","properties":{"multiplier":{"type":"number","nullable":true},"pendingMultiplier":{"type":"number","nullable":true},"multiplierEffectiveAt":{"type":"string","format":"date-time","nullable":true},"tokenPaused":{"type":"boolean","nullable":true},"oraclePaused":{"type":"boolean","nullable":true},"totalSupplyRaw":{"type":"string","nullable":true},"totalSupplyUi":{"type":"string","nullable":true},"canonical":{"type":"boolean","nullable":true},"beacon":{"type":"string","nullable":true},"implementation":{"type":"string","nullable":true},"feed":{"type":"object","nullable":true,"properties":{"address":{"type":"string"},"price":{"type":"number","nullable":true},"updatedAt":{"type":"string","nullable":true},"stale":{"type":"boolean","nullable":true}}},"quote":{"type":"object","nullable":true,"properties":{"bid":{"type":"number","nullable":true},"ask":{"type":"number","nullable":true},"tradingHalt":{"type":"boolean","nullable":true},"dailyVolume":{"type":"number","nullable":true},"at":{"type":"string","nullable":true}}},"priceDivergencePct":{"type":"number","nullable":true},"dex":{"type":"object","nullable":true,"description":"The deepest dollar-priced pool and its premium to the feed."},"secondSource":{"type":"object","nullable":true,"description":"Blockscout's holders, transfers and supply, with supplyAgreement agree|close|differ|unknown."},"checkedAt":{"type":"string","format":"date-time","nullable":true}}},"lookalikes":{"type":"array","items":{"type":"object"}},"corporateActions":{"type":"array","items":{"type":"object"}},"multiplierHistory":{"type":"array","items":{"type":"object"}},"feedRounds":{"type":"array","items":{"type":"object"}}}}]}},"fields":{"type":"array","items":{"type":"string"},"description":"The extra blocks a caller may request"}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}":{"get":{"summary":"Get one registry asset by symbol, with its state, multiplier history, mints and burns, supply snapshots, corporate actions and control-plane events","description":"Public, rate-limited per address when anonymous. Raw amounts are strings (exact on chain); prices and multipliers are numbers.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"AAPL"}],"responses":{"200":{"description":"The asset with everything the registry knows about it","content":{"application/json":{"schema":{"type":"object","properties":{"asset":{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":"string","nullable":true},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":"string","format":"date-time","nullable":true},"onchainName":{"type":"string","nullable":true},"onchainSymbol":{"type":"string","nullable":true},"onchainDecimals":{"type":"integer","nullable":true},"metadataCheckedAt":{"type":"string","format":"date-time","nullable":true},"isin":{"type":"string","nullable":true},"logoUrl":{"type":"string","nullable":true}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string"},"label":{"type":"string"},"detail":{"type":"string"}}},"state":{"type":"object","nullable":true,"description":"The asset's live state as the registry daemon last read it; every sub-block carries the time it was read.","properties":{"multiplier":{"type":"number","nullable":true},"pendingMultiplier":{"type":"number","nullable":true},"multiplierEffectiveAt":{"type":"string","format":"date-time","nullable":true},"tokenPaused":{"type":"boolean","nullable":true},"oraclePaused":{"type":"boolean","nullable":true},"totalSupplyRaw":{"type":"string","nullable":true},"totalSupplyUi":{"type":"string","nullable":true},"canonical":{"type":"boolean","nullable":true},"beacon":{"type":"string","nullable":true},"implementation":{"type":"string","nullable":true},"feed":{"type":"object","nullable":true,"properties":{"address":{"type":"string"},"price":{"type":"number","nullable":true},"updatedAt":{"type":"string","nullable":true},"stale":{"type":"boolean","nullable":true}}},"quote":{"type":"object","nullable":true,"properties":{"bid":{"type":"number","nullable":true},"ask":{"type":"number","nullable":true},"tradingHalt":{"type":"boolean","nullable":true},"dailyVolume":{"type":"number","nullable":true},"at":{"type":"string","nullable":true}}},"priceDivergencePct":{"type":"number","nullable":true},"dex":{"type":"object","nullable":true,"description":"The deepest dollar-priced pool and its premium to the feed."},"secondSource":{"type":"object","nullable":true,"description":"Blockscout's holders, transfers and supply, with supplyAgreement agree|close|differ|unknown."},"checkedAt":{"type":"string","format":"date-time","nullable":true}}},"multiplierHistory":{"type":"array","items":{"type":"object"}},"supplyEvents":{"type":"array","items":{"type":"object"}},"supplySnapshots":{"type":"array","items":{"type":"object"}},"corporateActions":{"type":"array","items":{"type":"object"}},"controlEvents":{"type":"array","items":{"type":"object"}},"lookalikes":{"type":"array","items":{"type":"object"}},"feedRounds":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"No such asset on this chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/control-plane":{"get":{"summary":"The issuer's AccessControlsRegistry: paused, implementation, blocked-address count, and its latest events","description":"Public. One contract governs every Stock Token: this is the surface no other index publishes. `limit` caps events (default 50, max 200).","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"limit","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Registry state and events","content":{"application/json":{"schema":{"type":"object","properties":{"state":{"type":"object"},"events":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/health":{"get":{"summary":"The chain's latest vital signs: head, block time, base fee, L1 block, batch count, delayed messages, batch-poster balance, status page","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Latest reading","content":{"application/json":{"schema":{"type":"object","properties":{"health":{"type":"object"}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/corporate-actions":{"get":{"summary":"Corporate actions in progress, as Robinhood publishes them, tied to the token each affects","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Actions in progress","content":{"application/json":{"schema":{"type":"object","properties":{"actions":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/assets/{symbol}/holders":{"get":{"summary":"Holders largest first with share of supply and what each address is, holder count, the latest concentration reading with the shares that say where the supply sits, and whether the ledger has reached the chain head","description":"Public. `sits` is always one of `float`, `pools`, `issuer`, `bridge`, `contracts`, `unknown`, and names the concentration share this address's balance counts towards; `unknown` means the code probe has not checked this address yet. `label` and `labelKind` (`pool_manager`, `dex_pool`, `issuer`, `bridge_gateway`, `locker`, `contract`, `exchange`, `eoa`) are null for an address the registry has nothing to say about. `rawBalance` is in the token's base units; divide by 10^`decimals`. `sharePct` is that balance over `totalSupplyRaw`, read live, while the concentration shares are over the sum of every positive balance the ledger held at `concentration.asOfBlock`, so the two can differ slightly while the ledger trails the chain. `concentration` carries `floatPct`, `poolsPct`, `issuerPct`, `bridgePct`, `contractsPct` and `unknownPct`, which add to 100: float is the supply in ordinary wallets. `unknownPct` is the share held by addresses the code probe has not checked — it checks every holder above a ten-thousandth of a token's supply, so a tail of small holdings stays here permanently and `floatPct` is always a floor rather than a final answer. `issuerPct` is the share of every wallet labelled `issuer`, which is written only for Stock Tokens, whose mints are the issuer creating inventory; `issuerAddress` is this asset's largest mint recipient whatever the asset type. `concentration.day` is the UTC day of the reading, `takenAt` the ISO instant the job wrote it, and `asOfBlock` the ledger block it was computed at; the job runs every 24 h, so a share can be up to a day old. `concentration.holders` is the address count at that moment, while the top-level `holderCount` is read live and can differ. The shares come from the daily concentration job, which does not run while the transfer ledger is still reading history, so `concentration` is null until the ledger reaches head.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":50},"description":"How many holders, largest first"}],"responses":{"200":{"description":"Holders","content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string"},"decimals":{"type":"integer"},"totalSupplyRaw":{"type":"string","nullable":true,"description":"Live total supply in base units, the denominator of sharePct"},"holders":{"type":"array","items":{"type":"object","properties":{"holder":{"type":"string"},"rawBalance":{"type":"string","description":"Base units; divide by 10^decimals"},"sharePct":{"type":"number","nullable":true},"asOfBlock":{"type":"string"},"label":{"type":"string","nullable":true},"labelKind":{"type":"string","nullable":true,"enum":["pool_manager","dex_pool","issuer","bridge_gateway","locker","contract","exchange","eoa"]},"sits":{"type":"string","enum":["float","pools","issuer","bridge","contracts","unknown"]}}}},"holderCount":{"type":"integer"},"concentration":{"type":"object","nullable":true},"progress":{"type":"object"}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/activity":{"get":{"summary":"Transfers as economics, one row per UTC day: transfers, volume, mints, burns, DvP against USDG, off-hours transfers","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":400}}],"responses":{"200":{"description":"Days","content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/pools":{"get":{"summary":"Pools trading the asset on every DEX the registry reads, deepest first, with venue, price, liquidity, fee, hooks, last-day swaps and volume, and the pool behind the asset's premium to the feed","description":"Public. `venue` is `uniswap_v4` or `uniswap_v3`; a v4 pool is an id inside the one PoolManager and has a null `poolAddress`, a v3 pool is a contract and carries its address. A pool is recorded when one side is this asset and the other is a listed quote (USDG, WETH or another Stock Token). Pools are deepest first by `depthUsd`, how many dollars of the quote token it takes to move the pool's price by 1% — a ceiling, since a move that leaves the position's range runs out of liquidity first, and not the pool's token balance; `liquidity` is the pool's in-range Uniswap liquidity L in raw units, not a dollar figure, and is comparable only between pools of the same pair (its scale follows the two tokens' decimals). `best` is the deepest pool in dollars of any venue, which is the one the asset's premium to the Chainlink feed is measured from, and names its venue. `swaps24h` and `volumeUsd24h` cover the current UTC day and the one before it, and are null for a pool discovered inside that window, whose earlier swaps the scan never read. `discovery` says how far each venue's pool scan has read: while `readingHistory` is true, a pool created in blocks the scan has not reached yet is not listed, and a venue whose `scanned` is false has not been read at all.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"}],"responses":{"200":{"description":"Pools","content":{"application/json":{"schema":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object"}},"best":{"type":"object","nullable":true},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":"string","nullable":true},"headBlock":{"type":"string","nullable":true},"headAt":{"type":"string","format":"date-time","nullable":true,"description":"When the chain head above was read."},"blocksBehind":{"type":"string","nullable":true},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/dex":{"get":{"summary":"The DEX venues the registry reads and what each contributes: pools trading a listed asset, how many carry a dollar price, the last day's swaps and volume, and how many assets take their premium from a pool there","description":"Public. One row per venue read (`uniswap_v4`, `uniswap_v3`), whether or not it has a pool on record yet, so `venues` and `discovery` name the same set. `assetsPricedHere` counts the assets whose deepest pool in dollars sits on that venue, so the venues' figures add up to the assets with a DEX price. `depthUsd` is the dollars of quote it takes to move a pool's price by 1%, added up over the venue's priced pools, and is the figure pools are ranked by; Uniswap's raw liquidity L compares two pools only when they hold the same pair. `swaps24h` and `volumeUsd24h` cover the current UTC day and the one before it — swaps are tallied per UTC day, so the window is between 24 and 48 hours, not a rolling day — and a swap near midnight is attributed from the last block of the scan window that held it, so it can land on the neighbouring day. `checkedAt` is when the state read last priced a pool on that venue; `headAt` inside `discovery` is when the chain head there was read. `discovery` carries each venue's pool scan position against that head; while `readingHistory` is true the counts are a floor, not a total, and while `scanned` is false the venue has not been read at all. The Pons launchpad creates its pools on the Uniswap v3 factory, so they are counted as `uniswap_v3` rather than as a venue of their own.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"DEX venues","content":{"application/json":{"schema":{"type":"object","properties":{"venues":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string","enum":["uniswap_v4","uniswap_v3"]},"pools":{"type":"integer","description":"Pools that trade a listed asset against a listed quote."},"pricedPools":{"type":"integer","description":"Of those, how many the state read has put a dollar price on."},"depthUsd":{"type":"number","nullable":true,"description":"Dollars of quote it takes to move a pool's price 1%, added up over the venue's priced pools."},"swaps24h":{"type":"integer","description":"Swaps over the current UTC day and the one before it."},"volumeUsd24h":{"type":"number","nullable":true,"description":"USD over the same window, valued at each pool's current dollar price."},"assetsPricedHere":{"type":"integer"},"checkedAt":{"type":"string","format":"date-time","nullable":true,"description":"When the state read last priced a pool on this venue."}},"required":["venue","pools","pricedPools","swaps24h","assetsPricedHere"]}},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":"string","nullable":true},"headBlock":{"type":"string","nullable":true},"headAt":{"type":"string","format":"date-time","nullable":true,"description":"When the chain head above was read."},"blocksBehind":{"type":"string","nullable":true},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/assets/{symbol}/history":{"get":{"summary":"One row per UTC day of everything the registry publishes about an asset: multiplier, pause and halt flags, feed price and staleness, bid and ask, divergence, DEX price, premium and liquidity, supply, holders and lookalike count","description":"Public. Written by the state-daily job, which runs hourly and rewrites the current UTC day's row, so a past day can be read back; the live tables carry only the current answer. Each row is a single reading taken at `takenAt`, not a daily open, close, mean or end-of-day value: it is the last reading the job took on that day, and the row for the current day is rewritten on the job's next run, so today's row is a partial day. Compare `takenAt` across rows before treating the series as evenly spaced. `from`/`to` are UTC days and default to the last 90; `days` sets the window length instead of `from`; `at=YYYY-MM-DD` returns that one day (an empty `days` array when no snapshot was taken); `fields` narrows each row to the keys named, `day` always included. `coverage` says how many days are actually on record and the first of them: there is nothing before the day the job first ran. A null is a figure that was not read that day, never a zero: a figure is copied only when the job that writes it read it that day, and `stateCheckedAt`, `feedCheckedAt`, `apiCheckedAt`, `dexCheckedAt` and `blockscoutCheckedAt` say when each group of figures was last read. `ledgerHolders` is written only for assets whose transfer history the ledger had finished reading, and `lookalikes` only once the lookalike scan has completed a pass. Rows are flat versions of the live `state` block: `feedPrice`/`feedStale` are `state.feed.price`/`.stale`, `bid`/`ask`/`tradingHalt` are `state.quote.bid`/`.ask`/`.tradingHalt`, `dexPriceUsd`/`dexPremiumPct`/`dexLiquidity` are `state.dex.priceUsd`/`.premiumPct`/`.liquidity`, `blockscoutHolders` is `state.secondSource.holders`, `multiplier` is `state.multiplier`.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"First UTC day, YYYY-MM-DD; must not be after `to`"},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"Last UTC day, YYYY-MM-DD; defaults to today"},{"name":"days","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":3650,"default":90},"description":"Window length in days ending at `to`; ignored when `from` is given"},{"name":"at","in":"query","required":false,"schema":{"type":"string","format":"date"},"example":"2026-08-12"},{"name":"fields","in":"query","required":false,"schema":{"type":"string"},"example":"feedPrice,dexPremiumPct","description":"Comma-separated keys to keep from each row: multiplier, tokenPaused, oraclePaused, tradingHalt, feedPrice, feedStale, bid, ask, priceDivergencePct, dexPriceUsd, dexPremiumPct, dexLiquidity, totalSupplyRaw, blockscoutHolders, ledgerHolders, lookalikes, stateCheckedAt, feedCheckedAt, apiCheckedAt, dexCheckedAt, blockscoutCheckedAt, takenAt. `day` is always included; an unknown key is a 400."}],"responses":{"200":{"description":"History","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"symbol":{"type":"string"},"decimals":{"type":"integer","description":"Token decimals, for converting totalSupplyRaw"},"from":{"type":"string"},"to":{"type":"string"},"coverage":{"type":"object","properties":{"daysOnRecord":{"type":"integer"},"firstDay":{"type":"string","nullable":true},"latestDay":{"type":"string","nullable":true}}},"days":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"at, from, to, days or fields is malformed, or from is after to","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/feed/rounds":{"get":{"summary":"The Chainlink feed's round history for one asset, newest first: roundId, answer (price × multiplier, USD), startedAt, updatedAt","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":2000}}],"responses":{"200":{"description":"Rounds","content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string"},"feed":{"type":"string","nullable":true},"rounds":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/bridge":{"get":{"summary":"The token bridge: each bridged asset's L1 escrow against its L2 supply, recent deposits and withdrawals seen on L2, and withdrawals past their seven-day window","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"WBTC"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":500}}],"responses":{"200":{"description":"Bridge","content":{"application/json":{"schema":{"type":"object","properties":{"escrow":{"type":"array","items":{"type":"object"}},"flows":{"type":"array","items":{"type":"object"}},"claimable":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain or asset","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/status":{"get":{"summary":"Whether the registry is live: the daemon's heartbeat, every job against its cadence, the scanners still reading history, and the age of every published figure","description":"Public. Always 200; the verdict is in the body ('live', 'degraded', 'stale', 'never'), so a stale registry is a fact to read rather than an error to retry. Each job carries its cadence, last successful run, age and verdict ('fresh', 'late', 'failing', 'filling', 'never'); each figure names the job that writes it and the newest timestamp behind it. Also served at /api/v1/status.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Freshness","content":{"application/json":{"schema":{"type":"object","properties":{"verdict":{"type":"string"},"summary":{"type":"string"},"daemon":{"type":"object"},"head":{"type":"object","nullable":true},"jobs":{"type":"array","items":{"type":"object"}},"figures":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Status"]}},"/status":{"get":{"summary":"Alias of /chains/4663/status: whether the registry is live","security":[],"responses":{"200":{"description":"Freshness","content":{"application/json":{"schema":{"type":"object"}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Status"]}},"/chains/{chainId}/issuer":{"get":{"summary":"The issuer's paperwork: every PDF the legal hub lists with ETag, Last-Modified and the token it maps to, plus watched pages and when their text changed","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string","enum":["base_prospectus","supplement","notice","final_terms","other"]}}],"responses":{"200":{"description":"Documents and pages","content":{"application/json":{"schema":{"type":"object","properties":{"documents":{"type":"array","items":{"type":"object"}},"pages":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/lookalikes":{"get":{"summary":"Every ERC-20 that borrows a listed ticker or exact name at another address, with holders and the beacon check that separates an impostor from an issuer-deployed token","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Lookalikes, most held first","content":{"application/json":{"schema":{"type":"object","properties":{"lookalikes":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/events":{"get":{"summary":"The registry changelog: every pause, block, upgrade, multiplier change, stale feed, supply residual, listing, corporate action and chain status change the daemon recorded","description":"Public. Without `since`/`cursor`: newest first, with `kinds` (every kind the daemon can emit) and `nextCursor`. With `since` or `cursor` (an ISO instant, use the previous `nextCursor`): only newer rows, oldest first, so a consumer catches up without gaps. `kind` matches exactly or by prefix (`registry.`, `multiplier.`); `symbol` narrows to one token; `limit` up to 500.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string"},"example":"multiplier."},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA"},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Events","content":{"application/json":{"schema":{"type":"object","properties":{"events":{"type":"array","items":{"type":"object"}},"kinds":{"type":"array","items":{"type":"string"}},"nextCursor":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Changelog"]}},"/chains/{chainId}/events/stream":{"get":{"summary":"The same changelog as Server-Sent Events; each frame's id is its observedAt, so Last-Event-ID (or ?since=) resumes without gaps","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"text/event-stream; `event` is the kind, `data` the JSON event"},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Changelog"]}},"/watchers":{"get":{"summary":"List this account's watchers","security":[{"bearerAuth":["watchers:read"]}],"responses":{"200":{"description":"Watchers","content":{"application/json":{"schema":{"type":"object","properties":{"watchers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string","nullable":true},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":"string","nullable":true},"threshold":{"type":"string"},"wallet":{"type":"string","nullable":true,"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":"string","nullable":true,"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":"string","nullable":true,"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":"string","nullable":true},"lastTriggeredAt":{"type":"string","format":"date-time","nullable":true},"lastError":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt"]}}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"post":{"summary":"Create a watcher","security":[{"bearerAuth":["watchers:write"]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Repeat a POST with the same key to get the same watcher back instead of creating another."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"assetId":{"type":"string"},"threshold":{"type":"string","example":"1000","description":"Positive for large_transfer; wallet_activity accepts \"0\" to mean every transfer."},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event"],"default":"large_transfer"},"wallet":{"type":"string","description":"Required when kind is wallet_activity — a 0x-prefixed 40-character hex address.","example":"0x1234567890123456789012345678901234567890"},"name":{"type":"string"},"projectId":{"type":"string"},"webhookId":{"type":"string","description":"Deliver this watcher to a registered webhook endpoint instead of Telegram."}},"required":["assetId","threshold"]}}}},"responses":{"200":{"description":"Idempotency-Key replay: the existing watcher","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string","nullable":true},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":"string","nullable":true},"threshold":{"type":"string"},"wallet":{"type":"string","nullable":true,"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":"string","nullable":true,"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":"string","nullable":true,"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":"string","nullable":true},"lastTriggeredAt":{"type":"string","format":"date-time","nullable":true},"lastError":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt"]}}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string","nullable":true},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":"string","nullable":true},"threshold":{"type":"string"},"wallet":{"type":"string","nullable":true,"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":"string","nullable":true,"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":"string","nullable":true,"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":"string","nullable":true},"lastTriggeredAt":{"type":"string","format":"date-time","nullable":true},"lastError":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt"]}}}}}},"400":{"description":"Invalid asset id, threshold, wallet, project, or a disabled webhook endpoint","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Asset, project or webhook endpoint not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Per-account or platform watcher limit reached","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/watchers/{id}":{"get":{"summary":"Get one watcher","security":[{"bearerAuth":["watchers:read"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The watcher","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string","nullable":true},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":"string","nullable":true},"threshold":{"type":"string"},"wallet":{"type":"string","nullable":true,"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":"string","nullable":true,"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":"string","nullable":true,"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":"string","nullable":true},"lastTriggeredAt":{"type":"string","format":"date-time","nullable":true},"lastError":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt"]}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"patch":{"summary":"Pause, resume, or re-point a watcher","security":[{"bearerAuth":["watchers:write"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Send enabled, webhookId, or both.","properties":{"enabled":{"type":"boolean"},"webhookId":{"type":"string","nullable":true,"description":"Re-point this watcher: an endpoint id delivers there, null goes back to Telegram. The endpoint must be yours and enabled."}}}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string","nullable":true},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":"string","nullable":true},"threshold":{"type":"string"},"wallet":{"type":"string","nullable":true,"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":"string","nullable":true,"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":"string","nullable":true,"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":"string","nullable":true},"lastTriggeredAt":{"type":"string","format":"date-time","nullable":true},"lastError":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt"]}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"delete":{"summary":"Delete a watcher","security":[{"bearerAuth":["watchers:write"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/watchers/{id}/runs":{"get":{"summary":"A watcher's delivery history","security":[{"bearerAuth":["watchers:read"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"maximum":200}}],"responses":{"200":{"description":"Deliveries, newest first","content":{"application/json":{"schema":{"type":"object","properties":{"runs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"watcherId":{"type":"string"},"status":{"type":"string","enum":["pending","sent","failed","retracted"]},"lastError":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"sentAt":{"type":"string","format":"date-time","nullable":true},"payload":{"type":"object","description":"DeliveryPayload — kind, chainId, address, symbol, from, to, value, amount, threshold, txHash, logIndex, blockNumber, blockHash, explorerUrl; wallet_activity adds wallet and direction (\"in\" | \"out\"); an authority payload (kind \"authority\", from a registry_event or token_event watcher) instead carries eventId, eventKind, title, symbol, address, detail, txHash, blockNumber, occurredAt (ISO 8601 UTC), explorerUrl and registryUrl."}},"required":["id","watcherId","status","createdAt","payload"]}}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Watcher not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/webhooks":{"get":{"summary":"List this account's webhook endpoints","security":[{"bearerAuth":["watchers:read"]}],"responses":{"200":{"description":"Endpoints, oldest first","content":{"application/json":{"schema":{"type":"object","properties":{"webhooks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":"string","format":"date-time","nullable":true,"description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":"string","nullable":true,"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":"string","format":"date-time","nullable":true,"description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]}}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"post":{"summary":"Register a webhook endpoint","description":"Returns the signing secret once. Every delivery carries X-Fletch-Signature: t=<unix>,v1=<hex hmac-sha256 over \"<t>.<body>\"> and X-Fletch-Event.","security":[{"bearerAuth":["watchers:write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"An https:// URL on a public host.","example":"https://example.com/fletch"},"name":{"type":"string","description":"Defaults to the URL's host."}},"required":["url"]}}}},"responses":{"201":{"description":"Created, with the secret shown once","content":{"application/json":{"schema":{"type":"object","properties":{"webhook":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":"string","format":"date-time","nullable":true,"description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":"string","nullable":true,"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":"string","format":"date-time","nullable":true,"description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]}}}}}},"400":{"description":"The URL is not an https:// URL on a public host","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Per-account endpoint limit reached","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/webhooks/{id}":{"patch":{"summary":"Enable, disable, or rotate the secret of an endpoint","security":[{"bearerAuth":["watchers:write"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"enabled":{"type":"boolean"},"rotateSecret":{"type":"boolean"}}}}}},"responses":{"200":{"description":"The endpoint; a rotation includes the new secret once","content":{"application/json":{"schema":{"type":"object","properties":{"webhook":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":"string","format":"date-time","nullable":true,"description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":"string","nullable":true,"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":"string","format":"date-time","nullable":true,"description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]}}}}}},"400":{"description":"Neither enabled nor rotateSecret was sent","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"delete":{"summary":"Delete an endpoint","description":"Watchers delivering to it are paused; the response says how many.","security":[{"bearerAuth":["watchers:write"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"pausedWatchers":{"type":"integer"}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/webhooks/{id}/test":{"post":{"summary":"Send a signed ping to an endpoint now","description":"Always HTTP 200: the endpoint's own answer is in the body as ok, status and error. Sent directly rather than through the delivery outbox, so a failure is not retried.","security":[{"bearerAuth":["watchers:write"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"What the endpoint answered","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"status":{"type":"integer","nullable":true},"error":{"type":"string","nullable":true}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/projects":{"get":{"summary":"List this account's projects","security":[{"bearerAuth":["projects:read"]}],"responses":{"200":{"description":"Projects","content":{"application/json":{"schema":{"type":"object","properties":{"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"buildCount":{"type":"integer"}},"required":["id","name","slug","createdAt","buildCount"]}}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Build"]}},"/builds/{id}":{"get":{"summary":"Get one build's status, contracts, and toolchain report","security":[{"bearerAuth":["builds:read"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The build","content":{"application/json":{"schema":{"type":"object","properties":{"build":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string","nullable":true},"prompt":{"type":"string"},"status":{"type":"string"},"error":{"type":"string","nullable":true},"startedAt":{"type":"string","format":"date-time","nullable":true},"finishedAt":{"type":"string","format":"date-time","nullable":true},"createdAt":{"type":"string","format":"date-time"}}},"previewUrl":{"type":"string","nullable":true},"contracts":{"type":"array","items":{"type":"object","properties":{"chainId":{"type":"integer"},"address":{"type":"string"},"verified":{"type":"boolean","nullable":true},"deployer":{"type":"string"}}}},"compile":{"type":"object","nullable":true,"description":"forge build --json result, or null if not yet compiled."},"tests":{"type":"object","nullable":true,"description":"forge test --json result, or null if not yet run."},"artifacts":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Missing or invalid credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Build"]}}},"webhooks":{"alert":{"post":{"summary":"A watcher alert posted to a registered endpoint","description":"Sent to the endpoint's url. X-Fletch-Event is `kind`; X-Fletch-Delivery is `id`; X-Fletch-Signature is `t=<unix seconds>,v1=<hex hmac-sha256 over \"<t>.<raw body>\">` keyed with the endpoint's secret. Answer 2xx within 10 seconds or it is retried, up to 8 attempts. The same `id` can arrive twice: use it as the idempotency key.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Delivery id, `dl_…` (`ping_…` for a test); the idempotency key."},"kind":{"type":"string","enum":["large_transfer","wallet_activity","authority","ping"]},"payload":{"type":"object","description":"DeliveryPayload — kind, chainId, address, symbol, from, to, value, amount, threshold, txHash, logIndex, blockNumber, blockHash, explorerUrl; wallet_activity adds wallet and direction (\"in\" | \"out\"); an authority payload (kind \"authority\", from a registry_event or token_event watcher) instead carries eventId, eventKind, title, symbol, address, detail, txHash, blockNumber, occurredAt (ISO 8601 UTC), explorerUrl and registryUrl."},"watcher":{"type":"object","nullable":true,"properties":{"id":{"type":"string"},"name":{"type":"string"},"kind":{"type":"string"}},"description":"null for a ping, which belongs to the endpoint rather than to any watcher."},"queuedAt":{"type":"string","format":"date-time","description":"When Fletch matched the event. On a retry this is well before sentAt."},"attempt":{"type":"integer","description":"1 on the first try."},"sentAt":{"type":"string","format":"date-time","description":"When this attempt was posted."}},"required":["id","kind","payload","queuedAt","attempt","sentAt"]}}}},"responses":{"2xx":{"description":"Any 2xx marks the delivery sent"}}}}},"components":{"securitySchemes":{"bearerAuth":{"bearerFormat":"flk_...","type":"http","scheme":"bearer"}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]},"Chain":{"type":"object","properties":{"chainId":{"type":"integer"},"name":{"type":"string"},"network":{"type":"string","enum":["mainnet","testnet"]},"rpcUrl":{"type":"string"},"explorerUrl":{"type":"string"},"providerConfigured":{"type":"boolean"}},"required":["chainId","name","network","rpcUrl","explorerUrl","providerConfigured"]},"Asset":{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":"string","nullable":true},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":"string","format":"date-time","nullable":true},"onchainName":{"type":"string","nullable":true},"onchainSymbol":{"type":"string","nullable":true},"onchainDecimals":{"type":"integer","nullable":true},"metadataCheckedAt":{"type":"string","format":"date-time","nullable":true},"isin":{"type":"string","nullable":true},"logoUrl":{"type":"string","nullable":true}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},"Watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string","nullable":true},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":"string","nullable":true},"threshold":{"type":"string"},"wallet":{"type":"string","nullable":true,"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":"string","nullable":true,"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":"string","nullable":true,"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":"string","nullable":true},"lastTriggeredAt":{"type":"string","format":"date-time","nullable":true},"lastError":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt"]},"Run":{"type":"object","properties":{"id":{"type":"string"},"watcherId":{"type":"string"},"status":{"type":"string","enum":["pending","sent","failed","retracted"]},"lastError":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"},"sentAt":{"type":"string","format":"date-time","nullable":true},"payload":{"type":"object","description":"DeliveryPayload — kind, chainId, address, symbol, from, to, value, amount, threshold, txHash, logIndex, blockNumber, blockHash, explorerUrl; wallet_activity adds wallet and direction (\"in\" | \"out\"); an authority payload (kind \"authority\", from a registry_event or token_event watcher) instead carries eventId, eventKind, title, symbol, address, detail, txHash, blockNumber, occurredAt (ISO 8601 UTC), explorerUrl and registryUrl."}},"required":["id","watcherId","status","createdAt","payload"]},"Webhook":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":"string","format":"date-time","nullable":true,"description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":"string","nullable":true,"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":"string","format":"date-time","nullable":true,"description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]},"WebhookDelivery":{"type":"object","properties":{"id":{"type":"string","description":"Delivery id, `dl_…` (`ping_…` for a test); the idempotency key."},"kind":{"type":"string","enum":["large_transfer","wallet_activity","authority","ping"]},"payload":{"type":"object","description":"DeliveryPayload — kind, chainId, address, symbol, from, to, value, amount, threshold, txHash, logIndex, blockNumber, blockHash, explorerUrl; wallet_activity adds wallet and direction (\"in\" | \"out\"); an authority payload (kind \"authority\", from a registry_event or token_event watcher) instead carries eventId, eventKind, title, symbol, address, detail, txHash, blockNumber, occurredAt (ISO 8601 UTC), explorerUrl and registryUrl."},"watcher":{"type":"object","nullable":true,"properties":{"id":{"type":"string"},"name":{"type":"string"},"kind":{"type":"string"}},"description":"null for a ping, which belongs to the endpoint rather than to any watcher."},"queuedAt":{"type":"string","format":"date-time","description":"When Fletch matched the event. On a retry this is well before sentAt."},"attempt":{"type":"integer","description":"1 on the first try."},"sentAt":{"type":"string","format":"date-time","description":"When this attempt was posted."}},"required":["id","kind","payload","queuedAt","attempt","sentAt"]},"Project":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"buildCount":{"type":"integer"}},"required":["id","name","slug","createdAt","buildCount"]}}},"x-scopes":["registry:read","watchers:read","watchers:write","builds:read","projects:read"],"tags":[{"name":"Status","description":"Whether the registry is live and how old each figure is. Read this first when freshness matters."},{"name":"Registry","description":"Every verified asset on Robinhood Chain with its live state: addresses, multipliers, pauses, feeds, quotes, supply, holders, pools, history."},{"name":"Changelog","description":"Every change the daemon noticed, as JSON with a cursor and as a live stream."},{"name":"Chain","description":"The issuer's control plane, the token bridge, the issuer's paperwork, lookalike tokens, DEX venues and chain health."},{"name":"Watch","description":"Watchers that alert on transfers and authority events, delivered to Telegram or a signed webhook. Needs a key."},{"name":"Build","description":"Builds and projects. Needs a key."},{"name":"Chains","description":"The networks Fletch knows."}]}