{"openapi":"3.1.0","info":{"title":"Fletch v1 API","version":"1.0.0","description":"Read the registry, and read/create/pause/delete watchers, key-authenticated (Authorization: Bearer flk_...). A signed-in browser session also authenticates, with every scope below. See /llms.txt for a plain-text guide (docs/API.md in the repository has the same material at length). Watcher alerts can be delivered to a webhook endpoint registered under /webhooks, signed with HMAC-SHA256. Not yet in v1: deploy. Public reads (every operation marked `security: []`) answer with `Access-Control-Allow-Origin: *` and a preflight, so a browser on any origin can fetch them without credentials; the keyed operations under /watchers, /webhooks, /projects and /builds send no CORS headers and are for servers. Every public read carries an ETag and a Cache-Control; a 429 carries Retry-After; a 401 carries WWW-Authenticate. A keyed operation names its scope in `x-required-scope`."},"servers":[{"url":"https://fletch.now/api/v1"}],"security":[{"bearerAuth":[]}],"paths":{"/chains":{"get":{"summary":"List Robinhood Chain networks","description":"Public. The public RPC URL, the explorer and whether Fletch has a provider key for the chain; a configured provider URL is never returned.","security":[],"responses":{"200":{"description":"The two Robinhood chains","content":{"application/json":{"schema":{"type":"object","properties":{"chains":{"type":"array","items":{"type":"object","properties":{"chainId":{"type":"integer"},"name":{"type":"string"},"network":{"type":"string","enum":["mainnet","testnet"]},"rpcUrl":{"type":"string"},"explorerUrl":{"type":"string"},"providerConfigured":{"type":"boolean"}},"required":["chainId","name","network","rpcUrl","explorerUrl","providerConfigured"]}}}}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/assets":{"get":{"summary":"List (and optionally search) registry assets on a chain, each with its live on-chain state","description":"Public. Anonymous callers get 120 requests a minute per address; a key or a session uses its own budget. Each asset carries `state`: multiplier, pending multiplier, pause flags, supply, canonical proof, the Chainlink feed and Robinhood's quote.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Symbol or name substring"},{"name":"symbols","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA,AAPL","description":"Comma-separated exact tickers, up to 200; any past that are ignored"},{"name":"fields","in":"query","required":false,"schema":{"type":"string"},"example":"lookalikes,feedRounds,concentration","description":"Extra per-asset blocks: lookalikes, corporateActions, multiplierHistory, feedRounds, concentration (up to 50 assets)"}],"responses":{"200":{"description":"Assets, each with trust and state, plus any extra blocks fields= asked for","content":{"application/json":{"schema":{"type":"object","properties":{"assets":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":["string","null"]},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":["string","null"],"format":"date-time"},"onchainName":{"type":["string","null"]},"onchainSymbol":{"type":["string","null"]},"onchainDecimals":{"type":["integer","null"]},"metadataCheckedAt":{"type":["string","null"],"format":"date-time"},"isin":{"type":["string","null"]},"logoUrl":{"type":["string","null"]}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},{"type":"object","properties":{"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string"},"label":{"type":"string"},"detail":{"type":"string"}}},"state":{"type":["object","null"],"description":"The asset's live state as the registry daemon last read it; every sub-block carries the time it was read.","properties":{"multiplier":{"type":["number","null"]},"pendingMultiplier":{"type":["number","null"]},"multiplierEffectiveAt":{"type":["string","null"],"format":"date-time"},"tokenPaused":{"type":["boolean","null"]},"oraclePaused":{"type":["boolean","null"]},"totalSupplyRaw":{"type":["string","null"]},"totalSupplyUi":{"type":["string","null"]},"canonical":{"type":["boolean","null"]},"beacon":{"type":["string","null"]},"implementation":{"type":["string","null"]},"feed":{"type":["object","null"],"properties":{"address":{"type":"string"},"price":{"type":["number","null"]},"updatedAt":{"type":["string","null"]},"stale":{"type":["boolean","null"]}}},"quote":{"type":["object","null"],"properties":{"bid":{"type":["number","null"]},"ask":{"type":["number","null"]},"tradingHalt":{"type":["boolean","null"]},"dailyVolume":{"type":["number","null"]},"at":{"type":["string","null"]}}},"priceDivergencePct":{"type":["number","null"]},"dex":{"type":["object","null"],"description":"The deepest dollar-priced pool and its premium to the feed."},"secondSource":{"type":["object","null"],"description":"Blockscout's holders, transfers and supply, with supplyAgreement agree|close|differ|unknown."},"checkedAt":{"type":["string","null"],"format":"date-time"}}},"lookalikes":{"type":"array","items":{"type":"object"}},"corporateActions":{"type":"array","items":{"type":"object"}},"multiplierHistory":{"type":"array","items":{"type":"object"}},"feedRounds":{"type":"array","items":{"type":"object"}}}}]}},"fields":{"type":"array","items":{"type":"string"},"description":"The extra blocks a caller may request"}}}}}},"400":{"description":"fields= was set on more than 50 assets; narrow with symbols=","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}":{"get":{"summary":"Get one registry asset by symbol, with its state, multiplier history, mints and burns, supply snapshots, corporate actions and control-plane events","description":"Public, rate-limited per address when anonymous. Raw amounts are strings (exact on chain); prices and multipliers are numbers.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"AAPL"}],"responses":{"200":{"description":"The asset with everything the registry knows about it","content":{"application/json":{"schema":{"type":"object","properties":{"asset":{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":["string","null"]},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":["string","null"],"format":"date-time"},"onchainName":{"type":["string","null"]},"onchainSymbol":{"type":["string","null"]},"onchainDecimals":{"type":["integer","null"]},"metadataCheckedAt":{"type":["string","null"],"format":"date-time"},"isin":{"type":["string","null"]},"logoUrl":{"type":["string","null"]}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string"},"label":{"type":"string"},"detail":{"type":"string"}}},"state":{"type":["object","null"],"description":"The asset's live state as the registry daemon last read it; every sub-block carries the time it was read.","properties":{"multiplier":{"type":["number","null"]},"pendingMultiplier":{"type":["number","null"]},"multiplierEffectiveAt":{"type":["string","null"],"format":"date-time"},"tokenPaused":{"type":["boolean","null"]},"oraclePaused":{"type":["boolean","null"]},"totalSupplyRaw":{"type":["string","null"]},"totalSupplyUi":{"type":["string","null"]},"canonical":{"type":["boolean","null"]},"beacon":{"type":["string","null"]},"implementation":{"type":["string","null"]},"feed":{"type":["object","null"],"properties":{"address":{"type":"string"},"price":{"type":["number","null"]},"updatedAt":{"type":["string","null"]},"stale":{"type":["boolean","null"]}}},"quote":{"type":["object","null"],"properties":{"bid":{"type":["number","null"]},"ask":{"type":["number","null"]},"tradingHalt":{"type":["boolean","null"]},"dailyVolume":{"type":["number","null"]},"at":{"type":["string","null"]}}},"priceDivergencePct":{"type":["number","null"]},"dex":{"type":["object","null"],"description":"The deepest dollar-priced pool and its premium to the feed."},"secondSource":{"type":["object","null"],"description":"Blockscout's holders, transfers and supply, with supplyAgreement agree|close|differ|unknown."},"checkedAt":{"type":["string","null"],"format":"date-time"}}},"multiplierHistory":{"type":"array","items":{"type":"object"}},"supplyEvents":{"type":"array","items":{"type":"object"}},"supplySnapshots":{"type":"array","items":{"type":"object"}},"corporateActions":{"type":"array","items":{"type":"object"}},"controlEvents":{"type":"array","items":{"type":"object"}},"lookalikes":{"type":"array","items":{"type":"object"}},"feedRounds":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"No such asset on this chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/control-plane":{"get":{"summary":"The issuer's AccessControlsRegistry: paused, implementation, blocked-address count, and its latest events","description":"Public. One contract governs every Stock Token: this is the surface no other index publishes. `limit` caps events (default 50, max 200), newest first. `offset` skips that many events, so `offset=200&limit=200` is the second page; an event that lands between two page reads repeats one row on the next page, so a consumer copying the log dedupes by `txHash` and `logIndex`. A page shorter than `limit` is the last one. `state` is the same on every page.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200},"description":"Events per page (default 50)"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0},"description":"Events to skip before the page (default 0)"}],"responses":{"200":{"description":"Registry state and events","content":{"application/json":{"schema":{"type":"object","properties":{"state":{"type":"object"},"events":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/health":{"get":{"summary":"The chain's latest vital signs: head, block time, base fee, L1 block, batch count, delayed messages, batch-poster balance, status page","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Latest reading","content":{"application/json":{"schema":{"type":"object","properties":{"health":{"type":"object"}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/corporate-actions":{"get":{"summary":"Corporate actions in progress, as Robinhood publishes them, tied to the token each affects","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Actions in progress","content":{"application/json":{"schema":{"type":"object","properties":{"actions":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/assets/{symbol}/holders":{"get":{"summary":"Holders largest first with share of supply and what each address is, holder count, the latest concentration reading with the shares that say where the supply sits, and whether the ledger has reached the chain head","description":"Public. `sits` is always one of `float`, `pools`, `issuer`, `bridge`, `contracts`, `unknown`, and names the concentration share this address's balance counts towards; `unknown` means the code probe has not checked this address yet. `label` and `labelKind` (`pool_manager`, `dex_pool`, `issuer`, `bridge_gateway`, `locker`, `contract`, `exchange`, `eoa`) are null for an address the registry has nothing to say about. `rawBalance` is in the token's base units; divide by 10^`decimals`. `sharePct` is that balance over `totalSupplyRaw`, read live, while the concentration shares are over the sum of every positive balance the ledger held at `concentration.asOfBlock`, so the two can differ slightly while the ledger trails the chain. `concentration` carries `top1Pct`, `top10Pct` and `gini` over every positive balance, and the six shares `floatPct`, `poolsPct`, `issuerPct`, `bridgePct`, `contractsPct` and `unknownPct`, which add to 100: float is the supply in ordinary wallets. `unknownPct` is the share held by addresses the code probe has not checked — it checks every holder above a ten-thousandth of a token's supply, so a tail of small holdings stays here permanently and `floatPct` is always a floor rather than a final answer. `issuerPct` is the share of every wallet labelled `issuer`, which is written only for Stock Tokens, whose mints are the issuer creating inventory; `issuerAddress` is this asset's largest mint recipient whatever the asset type. `concentration.day` is the UTC day of the reading, `takenAt` the ISO instant the job wrote it, and `asOfBlock` the ledger block it was computed at; the job runs every 24 h, so a share can be up to a day old. `concentration.holders` is the address count at that moment, while the top-level `holderCount` is read live and can differ. The shares come from the daily concentration job, which does not run while the transfer ledger is still reading history, so `concentration` is null until the ledger reaches head.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":50},"description":"How many holders, largest first"}],"responses":{"200":{"description":"Holders","content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string"},"decimals":{"type":"integer"},"totalSupplyRaw":{"type":["string","null"],"description":"Live total supply in base units, the denominator of sharePct"},"holders":{"type":"array","items":{"type":"object","properties":{"holder":{"type":"string"},"rawBalance":{"type":"string","description":"Base units; divide by 10^decimals"},"sharePct":{"type":["number","null"]},"asOfBlock":{"type":"string"},"label":{"type":["string","null"]},"labelKind":{"type":["string","null"],"enum":["pool_manager","dex_pool","issuer","bridge_gateway","locker","contract","exchange","eoa",null]},"sits":{"type":"string","enum":["float","pools","issuer","bridge","contracts","unknown"]}}}},"holderCount":{"type":"integer"},"concentration":{"type":["object","null"]},"progress":{"type":"object"}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/activity":{"get":{"summary":"Transfers as economics, one row per UTC day: transfers, volume, mints, burns, DvP against USDG, off-hours transfers","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"days","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":400,"default":30},"description":"How many UTC days back; a malformed value reads as the default"}],"responses":{"200":{"description":"Days","content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/pools":{"get":{"summary":"Pools trading the asset on every DEX the registry reads, deepest first, with venue, price, liquidity, fee, hooks, last-day swaps and volume, and the pool behind the asset's premium to the feed","description":"Public. `venue` is `uniswap_v4` or `uniswap_v3`; a v4 pool is an id inside the one PoolManager and has a null `poolAddress`, a v3 pool is a contract and carries its address. A pool is recorded when one side is this asset and the other is a listed quote (USDG, WETH or another Stock Token). Pools are deepest first by `depthUsd`, how many dollars of the quote token it takes to move the pool's price by 1% — a ceiling, since a move that leaves the position's range runs out of liquidity first, and not the pool's token balance; `liquidity` is the pool's in-range Uniswap liquidity L in raw units, not a dollar figure, and is comparable only between pools of the same pair (its scale follows the two tokens' decimals). `best` is the deepest pool in dollars of any venue, which is the one the asset's premium to the Chainlink feed is measured from, and names its venue. `swaps24h` and `volumeUsd24h` cover the current UTC day and the one before it, and are null for a pool discovered inside that window, whose earlier swaps the scan never read. `discovery` says how far each venue's pool scan has read: while `readingHistory` is true, a pool created in blocks the scan has not reached yet is not listed, and a venue whose `scanned` is false has not been read at all.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"}],"responses":{"200":{"description":"Pools","content":{"application/json":{"schema":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object"}},"best":{"type":["object","null"]},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":["string","null"]},"headBlock":{"type":["string","null"]},"headAt":{"type":["string","null"],"format":"date-time","description":"When the chain head above was read."},"blocksBehind":{"type":["string","null"]},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/tokens/{address}":{"get":{"summary":"What a token at an address is: listed and confirmed, listed and unconfirmed, impersonating a listed asset, a community token nobody has vouched for, or unreadable","description":"Public. The check to run before an address is pasted anywhere. `trust` is `verified` (Robinhood lists this address and the contract answers with the listed symbol and decimals), `listed` (on the list, not yet confirmed against the chain), `lookalike` (not on the list, and its symbol or name folds to a verified asset's — `impersonates` names the real one and its address), `community` (found on chain, read from its own contract, vouched for by nobody) or `unknown` (nothing answered at this address). Symbols are compared with homoglyphs folded and invisible characters stripped, so a Cyrillic ТSLA is caught as a lookalike of TSLA. `source` says where the facts came from: `registry` is Robinhood's list, `discovered` is the token's own contract as the registry daemon read it, `none` is an address nobody has read. `market` is the deepest pool Fletch has priced from its own reserves, in dollars, and is null when no pool has been priced. A null is a figure not read, never a zero.","security":[],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"example":"0x0000000000000000000000000000000000000000"}],"responses":{"200":{"description":"What this token is","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"address":{"type":"string"},"trust":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"label":{"type":"string"},"detail":{"type":"string"},"impersonates":{"type":["object","null"],"properties":{"symbol":{"type":"string"},"name":{"type":"string"},"address":{"type":"string"},"registryUrl":{"type":"string"}}},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"decimals":{"type":["integer","null"]},"source":{"type":"string","enum":["registry","discovered","none"]},"firstSeenAt":{"type":["string","null"],"format":"date-time"},"readAt":{"type":["string","null"],"format":"date-time"},"registryUrl":{"type":["string","null"]},"explorerUrl":{"type":"string"},"market":{"type":["object","null"],"properties":{"poolId":{"type":"string"},"venue":{"type":"string"},"priceUsd":{"type":["number","null"]},"depthUsd":{"type":["number","null"]},"swaps24h":{"type":["integer","null"]},"volumeUsd24h":{"type":["number","null"]}}},"note":{"type":"string"}},"required":["chainId","address","trust","label","detail","source","explorerUrl"]}}}},"400":{"description":"Not an address","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/dex/pools":{"get":{"summary":"Every pool on every DEX the registry reads, listed and community alike, one page at a time: the pair, the priced side, price, depth, the last day's swaps and volume, and FDV for an unlisted token","description":"Public. The market table behind a DexScreener-style page. `kind=listed` keeps pools with one side on Robinhood's list; `kind=community` keeps pools whose priced side is a token the list does not carry, described by `token` from its own contract and verified by nobody; `kind=lookalike` keeps the community pools whose token borrows a listed ticker or name at another address. `trust` is accepted as a synonym for `kind`. `sort` defaults to `volume`: fresh measured 24h volume, then measured quote-side depth and swap count. Missing values sort last; `traction` uses the same relevance ordering. `depth`, `swaps` and `newest` are explicit alternatives. `q` takes a listed ticker, a token symbol or name by prefix, a token contract address, a Uniswap v3 pool address, or a Uniswap v4 pool id. `total` counts every pool that matches before paging. A pool the state read has not reached carries nulls; a community pool whose token has not answered decimals() stays unpriced. `swaps24h` and `volumeUsd24h` cover the current UTC day and the one before it.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string","enum":["all","listed","community","lookalike"],"default":"all"},"description":"Also accepted as `trust`."},{"name":"tier","in":"query","required":false,"schema":{"type":"string","enum":["active","quiet","dormant","all"],"default":"active"},"description":"Which tiers to list; the default is the pools worth watching."},{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["traction","depth","volume","swaps","newest"],"default":"volume"}},{"name":"venue","in":"query","required":false,"schema":{"type":"string","enum":["uniswap_v4","uniswap_v3"]}},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Token or pool name, symbol, or a complete 0x address. Addresses are matched in full.","example":"PIPE"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0}}],"responses":{"200":{"description":"A page of pools","content":{"application/json":{"schema":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object","properties":{"poolId":{"type":"string"},"venue":{"type":"string","enum":["uniswap_v4","uniswap_v3"]},"kind":{"type":"string","enum":["listed","community"]},"tier":{"type":"string","enum":["active","quiet","dormant"],"description":"active: depth of $100 or a swap in the last week, read every ten minutes; quiet: a little depth, no recent swap, read daily; dormant: drained or empty for a month, read weekly."},"lastSwapAt":{"type":["string","null"],"format":"date-time"},"poolAddress":{"type":["string","null"]},"currency0":{"type":"string"},"currency1":{"type":"string"},"fee":{"type":"integer"},"feeDynamic":{"type":"boolean"},"feePct":{"type":["number","null"]},"tickSpacing":{"type":"integer"},"hooks":{"type":"string"},"asset":{"type":["string","null"],"description":"The listed asset's ticker; null for a community pool."},"token":{"type":["object","null"],"description":"The unlisted side of a community pool, as its own contract describes it. Nothing here is verified.","properties":{"address":{"type":"string"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"decimals":{"type":["integer","null"]},"totalSupplyRaw":{"type":["string","null"],"description":"Base units; divide by 10^decimals."},"fdvUsd":{"type":["number","null"],"description":"Total supply times the pool's dollar price."},"readAt":{"type":["string","null"],"format":"date-time"}}},"quote":{"type":["string","null"]},"createdBlock":{"type":"string"},"sqrtPriceX96":{"type":["string","null"]},"tick":{"type":["integer","null"]},"liquidity":{"type":["string","null"]},"depthUsd":{"type":["number","null"]},"priceInQuote":{"type":["number","null"]},"priceUsd":{"type":["number","null"]},"swaps24h":{"type":["integer","null"]},"volumeUsd24h":{"type":["number","null"]},"stateCheckedAt":{"type":["string","null"],"format":"date-time"},"stateCurrent":{"type":"boolean","description":"The pool state was observed within ten minutes and its timestamp is not in the future. When false, depth, price, FDV and price changes are null; stateCheckedAt retains the actual observation time."},"pricePublished":{"type":"boolean","description":"Current state has a finite positive price and clears the configured depth floor."},"change5mPct":{"type":["number","null"],"description":"Dollar price against the newest sample at or before five minutes ago; null when no sample is old enough."},"change1hPct":{"type":["number","null"]},"change6hPct":{"type":["number","null"]},"change24hPct":{"type":["number","null"]}},"required":["poolId","venue","kind","currency0","currency1","fee","createdBlock","stateCurrent","pricePublished"]}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"},"kind":{"type":"string"},"tier":{"type":"string"},"sort":{"type":"string"},"venue":{"type":["string","null"]},"q":{"type":["string","null"]},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":["string","null"]},"headBlock":{"type":["string","null"]},"headAt":{"type":["string","null"],"format":"date-time","description":"When the chain head above was read."},"blocksBehind":{"type":["string","null"]},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}},"required":["pools","total","limit","offset","discovery"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/dex":{"get":{"summary":"The DEX venues the registry reads and what each contributes: pools trading a listed asset, how many carry a dollar price, the last day's swaps and volume, and how many assets take their premium from a pool there","description":"Public. One row per venue read (`uniswap_v4`, `uniswap_v3`), whether or not it has a pool on record yet, so `venues` and `discovery` name the same set. `assetsPricedHere` counts the assets whose deepest pool in dollars sits on that venue, so the venues' figures add up to the assets with a DEX price. `depthUsd` is the dollars of quote it takes to move a pool's price by 1%, added up over the venue's priced pools, and is the figure pools are ranked by; Uniswap's raw liquidity L compares two pools only when they hold the same pair. `swaps24h` and `volumeUsd24h` cover the current UTC day and the one before it — swaps are tallied per UTC day, so the window is between 24 and 48 hours, not a rolling day — and a swap near midnight is attributed from the last block of the scan window that held it, so it can land on the neighbouring day. `checkedAt` is when the state read last priced a pool on that venue; `headAt` inside `discovery` is when the chain head there was read. `discovery` carries each venue's pool scan position against that head; while `readingHistory` is true the counts are a floor, not a total, and while `scanned` is false the venue has not been read at all. The Pons launchpad creates its pools on the Uniswap v3 factory, so they are counted as `uniswap_v3` rather than as a venue of their own.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"DEX venues","content":{"application/json":{"schema":{"type":"object","properties":{"venues":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string","enum":["uniswap_v4","uniswap_v3"]},"pools":{"type":"integer","description":"Pools that trade a listed asset against a listed quote."},"pricedPools":{"type":"integer","description":"Of those, how many the state read has put a dollar price on."},"depthUsd":{"type":["number","null"],"description":"Dollars of quote it takes to move a pool's price 1%, added up over the venue's priced pools."},"swaps24h":{"type":"integer","description":"Swaps over the current UTC day and the one before it."},"volumeUsd24h":{"type":["number","null"],"description":"USD over the same window, valued at each pool's current dollar price."},"assetsPricedHere":{"type":"integer"},"checkedAt":{"type":["string","null"],"format":"date-time","description":"When the state read last priced a pool on this venue."}},"required":["venue","pools","pricedPools","swaps24h","assetsPricedHere"]}},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":["string","null"]},"headBlock":{"type":["string","null"]},"headAt":{"type":["string","null"],"format":"date-time","description":"When the chain head above was read."},"blocksBehind":{"type":["string","null"]},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/assets/{symbol}/history":{"get":{"summary":"One row per UTC day of everything the registry publishes about an asset: multiplier, pause and halt flags, feed price and staleness, bid and ask, divergence, DEX price, premium and liquidity, supply, holders and lookalike count","description":"Public. Written by the state-daily job, which runs hourly and rewrites the current UTC day's row, so a past day can be read back; the live tables carry only the current answer. Each row is a single reading taken at `takenAt`, not a daily open, close, mean or end-of-day value: it is the last reading the job took on that day, and the row for the current day is rewritten on the job's next run, so today's row is a partial day. Compare `takenAt` across rows before treating the series as evenly spaced. `from`/`to` are UTC days and default to the last 90; `days` sets the window length instead of `from`; `at=YYYY-MM-DD` returns that one day (an empty `days` array when no snapshot was taken); `fields` narrows each row to the keys named, `day` always included. `coverage` says how many days are actually on record and the first of them: there is nothing before the day the job first ran. A null is a figure that was not read that day, never a zero: a figure is copied only when the job that writes it read it that day, and `stateCheckedAt`, `feedCheckedAt`, `apiCheckedAt`, `dexCheckedAt` and `blockscoutCheckedAt` say when each group of figures was last read. `ledgerHolders` is written only for assets whose transfer history the ledger had finished reading, and `lookalikes` only once the lookalike scan has completed a pass. Rows are flat versions of the live `state` block: `feedPrice`/`feedStale` are `state.feed.price`/`.stale`, `bid`/`ask`/`tradingHalt` are `state.quote.bid`/`.ask`/`.tradingHalt`, `dexPriceUsd`/`dexPremiumPct`/`dexLiquidity` are `state.dex.priceUsd`/`.premiumPct`/`.liquidity`, `blockscoutHolders` is `state.secondSource.holders`, `multiplier` is `state.multiplier`.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"First UTC day, YYYY-MM-DD; must not be after `to`"},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"Last UTC day, YYYY-MM-DD; defaults to today"},{"name":"days","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":3650,"default":90},"description":"Window length in days ending at `to`; ignored when `from` is given"},{"name":"at","in":"query","required":false,"schema":{"type":"string","format":"date"},"example":"2026-08-12"},{"name":"fields","in":"query","required":false,"schema":{"type":"string"},"example":"feedPrice,dexPremiumPct","description":"Comma-separated keys to keep from each row: multiplier, tokenPaused, oraclePaused, tradingHalt, feedPrice, feedStale, bid, ask, priceDivergencePct, dexPriceUsd, dexPremiumPct, dexLiquidity, totalSupplyRaw, blockscoutHolders, ledgerHolders, lookalikes, stateCheckedAt, feedCheckedAt, apiCheckedAt, dexCheckedAt, blockscoutCheckedAt, takenAt. `day` is always included; an unknown key is a 400."}],"responses":{"200":{"description":"History","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"symbol":{"type":"string"},"decimals":{"type":"integer","description":"Token decimals, for converting totalSupplyRaw"},"from":{"type":"string"},"to":{"type":"string"},"coverage":{"type":"object","properties":{"daysOnRecord":{"type":"integer"},"firstDay":{"type":["string","null"]},"latestDay":{"type":["string","null"]}}},"days":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"at, from, to, days or fields is malformed, or from is after to","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/feed/rounds":{"get":{"summary":"The Chainlink feed's round history for one asset, newest first: roundId, answer (price × multiplier, USD), startedAt, updatedAt","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":2000,"default":200},"description":"Rounds, newest first; a malformed value reads as the default, a larger one as the maximum"}],"responses":{"200":{"description":"Rounds","content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string"},"feed":{"type":["string","null"]},"rounds":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/bridge":{"get":{"summary":"The token bridge: each bridged asset's L1 escrow against its L2 supply, recent deposits and withdrawals seen on L2, and withdrawals past their seven-day window","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"WBTC"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100},"description":"Flows, newest first; a malformed value reads as the default, a larger one as the maximum"}],"responses":{"200":{"description":"Bridge","content":{"application/json":{"schema":{"type":"object","properties":{"escrow":{"type":"array","items":{"type":"object"}},"flows":{"type":"array","items":{"type":"object"}},"claimable":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain or asset","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/status":{"get":{"summary":"Whether the registry is live: the daemon's heartbeat, every job against its cadence, the scanners still reading history, and the age of every published figure","description":"Public. Always 200; the verdict is in the body ('live', 'degraded', 'stale', 'never'), so a stale registry is a fact to read rather than an error to retry. Each job carries its cadence, last successful run, age and verdict ('fresh', 'late', 'failing', 'filling', 'stalled', 'never'); metadataBacklog reports the measured due, visible, never-read and failed token counts after the last successful metadata batch; filling does not mean complete coverage; each figure names the job that writes it and the newest timestamp behind it. Also served at /api/v1/status.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Freshness","content":{"application/json":{"schema":{"type":"object","properties":{"verdict":{"type":"string","enum":["live","degraded","stale","never"]},"summary":{"type":"string"},"daemon":{"type":"object"},"head":{"type":["object","null"]},"jobs":{"type":"array","items":{"type":"object","properties":{"job":{"type":"string"},"cadenceSeconds":{"type":"number"},"verdict":{"type":"string","enum":["fresh","late","failing","filling","stalled","never"]},"metadataBacklog":{"type":["object","null"],"description":"Metadata queue measured after this job's last successful batch. Null means no batch has reported coverage yet; a fresh batch does not imply complete token coverage.","properties":{"total":{"type":"integer","minimum":0},"due":{"type":"integer","minimum":0},"visibleDue":{"type":"integer","minimum":0},"neverRead":{"type":"integer","minimum":0},"errors":{"type":"integer","minimum":0},"oldestCheckedAt":{"type":["string","null"],"format":"date-time"},"measuredAt":{"type":"string","format":"date-time"}},"required":["total","due","visibleDue","neverRead","errors","oldestCheckedAt","measuredAt"]}},"required":["job","cadenceSeconds","verdict","metadataBacklog"]}},"figures":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Status"]}},"/status":{"get":{"summary":"Alias of /chains/4663/status: whether the registry is live","security":[],"responses":{"200":{"description":"Freshness","content":{"application/json":{"schema":{"type":"object","properties":{"verdict":{"type":"string","enum":["live","degraded","stale","never"]},"summary":{"type":"string"},"daemon":{"type":"object"},"head":{"type":["object","null"]},"jobs":{"type":"array","items":{"type":"object","properties":{"job":{"type":"string"},"cadenceSeconds":{"type":"number"},"verdict":{"type":"string","enum":["fresh","late","failing","filling","stalled","never"]},"metadataBacklog":{"type":["object","null"],"description":"Metadata queue measured after this job's last successful batch. Null means no batch has reported coverage yet; a fresh batch does not imply complete token coverage.","properties":{"total":{"type":"integer","minimum":0},"due":{"type":"integer","minimum":0},"visibleDue":{"type":"integer","minimum":0},"neverRead":{"type":"integer","minimum":0},"errors":{"type":"integer","minimum":0},"oldestCheckedAt":{"type":["string","null"],"format":"date-time"},"measuredAt":{"type":"string","format":"date-time"}},"required":["total","due","visibleDue","neverRead","errors","oldestCheckedAt","measuredAt"]}},"required":["job","cadenceSeconds","verdict","metadataBacklog"]}},"figures":{"type":"array","items":{"type":"object"}}}}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Status"]}},"/chains/{chainId}/issuer":{"get":{"summary":"The issuer's paperwork: every PDF the legal hub lists with ETag, Last-Modified and the token it maps to, plus watched pages and when their text changed","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string","enum":["base_prospectus","supplement","notice","final_terms","other"]}}],"responses":{"200":{"description":"Documents and pages","content":{"application/json":{"schema":{"type":"object","properties":{"documents":{"type":"array","items":{"type":"object"}},"pages":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/lookalikes":{"get":{"summary":"Every ERC-20 that borrows a listed ticker or exact name at another address, with holders and the beacon check that separates an impostor from an issuer-deployed token","description":"Public. Most held first. `limit` caps rows (default 300, max 1000); `offset` skips that many rows, so `offset=1000&limit=1000` is the second page, and a page shorter than `limit` is the last one. Holder counts are refreshed by the lookalike scan, so the order can shift between pages read across a scan: a consumer copying the whole table dedupes by `address`.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000},"description":"Rows per page (default 300)"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0},"description":"Rows to skip before the page (default 0)"}],"responses":{"200":{"description":"Lookalikes, most held first","content":{"application/json":{"schema":{"type":"object","properties":{"lookalikes":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/events":{"get":{"summary":"The registry changelog: every pause, block, upgrade, multiplier change, stale feed, supply residual, listing, corporate action and chain status change the daemon recorded","description":"Public. Without `since`/`cursor`: newest first, with `kinds` (every kind the daemon can emit) and `nextCursor`. With `since` or `cursor` (an ISO instant, use the previous `nextCursor`): only newer rows, oldest first, so a consumer catches up without gaps; a `since` or `cursor` that does not parse is a 400, never a silent restart from now. `kind` matches exactly or by prefix (`registry.`, `multiplier.`) and `symbol` narrows to one token, on the newest-first read only: the cursor read returns every kind, and a consumer following a cursor filters on `kind` itself. `limit` up to 500. When the changelog is empty, `nextCursor` is the epoch, which passed back yields every event from the first.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string"},"example":"multiplier."},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA"},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"An opaque position, `${observedAt}|${id}`, as returned in `nextCursor`. Pass it back verbatim; a bare ISO instant is also accepted.","example":"2026-09-05T11:50:43.476Z|ev_9f3256ce83b6dd98fedbe4ec"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100},"description":"A malformed value reads as the default, a larger one as the maximum"}],"responses":{"200":{"description":"Events","content":{"application/json":{"schema":{"type":"object","properties":{"events":{"type":"array","items":{"type":"object","description":"One entry in the registry changelog. `id` is stable across re-runs; the cursor for the row is `${observedAt}|${id}`.","properties":{"id":{"type":"string","description":"`ev_` followed by 24 hex characters; the same change is never written twice"},"kind":{"type":"string","description":"A dotted kind such as `registry.paused` or `multiplier.applied`; every kind the daemon can emit is in the response's `kinds`","example":"multiplier.applied"},"title":{"type":"string","description":"The change as one changelog line"},"symbol":{"type":["string","null"],"description":"The token concerned; null for a chain-wide event"},"address":{"type":["string","null"],"description":"The contract or account concerned; null for a chain-wide event"},"detail":{"type":["object","null"],"additionalProperties":true,"description":"The numbers behind the title; fields depend on the kind"},"block":{"type":["string","null"],"description":"Block number as a decimal string; null for events not tied to a block"},"txHash":{"type":["string","null"]},"occurredAt":{"type":"string","format":"date-time","description":"When the change happened on chain or at the source"},"observedAt":{"type":"string","format":"date-time","description":"When the daemon recorded it; the cursor orders by this"}},"required":["id","kind","title","symbol","address","detail","block","txHash","occurredAt","observedAt"]}},"kinds":{"type":"array","items":{"type":"string"},"description":"Every kind the daemon can emit; present only on the newest-first read (no `since`/`cursor`)"},"nextCursor":{"type":"string","description":"`${observedAt}|${id}` of the last row seen; pass it back as `cursor` to receive only what follows. The epoch when the changelog is empty."}},"required":["events","nextCursor"]}}}},"400":{"description":"since or cursor is malformed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Changelog"]}},"/chains/{chainId}/events/stream":{"get":{"summary":"The same changelog as Server-Sent Events; each frame's id is the event's cursor (`${observedAt}|${id}`), so Last-Event-ID (or ?since=) resumes without gaps","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"since","in":"query","required":false,"schema":{"type":"string"},"description":"An ISO instant or a cursor `${observedAt}|${id}`; the Last-Event-ID header takes precedence. Without either the stream starts at now."}],"responses":{"200":{"description":"text/event-stream; `event` is the kind, `data` an AuthorityEvent as JSON, `id` the event's cursor. The first frame carries `retry` and an `id` with no event, so a reconnect always has a position."},"400":{"description":"since or Last-Event-ID is malformed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests, or too many open streams from this address","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Changelog"]}},"/watchers":{"get":{"summary":"List this account's watchers","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:read","responses":{"200":{"description":"Watchers","content":{"application/json":{"schema":{"type":"object","properties":{"watchers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]}}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"post":{"summary":"Create a watcher","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:write","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Repeat a POST with the same key to get the same watcher back instead of creating another."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"assetId":{"type":"string","description":"Required for large_transfer, wallet_activity and token_event; omitted for registry_event."},"threshold":{"type":"string","example":"1000","description":"Required for large_transfer (positive) and wallet_activity (\"0\" means every transfer); ignored by registry_event, token_event and new_pool."},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"],"default":"large_transfer"},"lookalikesOnly":{"type":"boolean","description":"new_pool only: alert only on a pool whose token borrows a listed ticker or name. Off by default."},"wallet":{"type":"string","description":"Required when kind is wallet_activity — a 0x-prefixed 40-character hex address.","example":"0x1234567890123456789012345678901234567890"},"name":{"type":"string"},"projectId":{"type":"string"},"webhookId":{"type":"string","description":"Deliver this watcher to a registered webhook endpoint instead of Telegram."}},"required":[]}}}},"responses":{"200":{"description":"Idempotency-Key replay: the existing watcher","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]}}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]}}}}}},"400":{"description":"Invalid asset id, threshold, wallet, project, or a disabled webhook endpoint","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Asset, project or webhook endpoint not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Per-account or platform watcher limit reached","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/watchers/{id}":{"get":{"summary":"Get one watcher","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:read","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The watcher","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"patch":{"summary":"Pause, resume, or re-point a watcher","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:write","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Send enabled, webhookId, or both.","properties":{"enabled":{"type":"boolean"},"webhookId":{"type":["string","null"],"description":"Re-point this watcher: an endpoint id delivers there, null goes back to Telegram. The endpoint must be yours and enabled."}}}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]}}}}}},"400":{"description":"Neither enabled nor webhookId was sent, or the endpoint is not yours, is disabled, or was deleted","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"delete":{"summary":"Delete a watcher","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:write","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/watchers/{id}/runs":{"get":{"summary":"A watcher's delivery history","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:read","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"maximum":200}}],"responses":{"200":{"description":"Deliveries, newest first","content":{"application/json":{"schema":{"type":"object","properties":{"runs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"watcherId":{"type":"string"},"status":{"type":"string","enum":["pending","sent","failed","retracted"]},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"sentAt":{"type":["string","null"],"format":"date-time"},"payload":{"type":"object","description":"DeliveryPayload — kind, chainId, address, symbol, from, to, value, amount, threshold, txHash, logIndex, blockNumber, blockHash, explorerUrl; wallet_activity adds wallet and direction (\"in\" | \"out\"); an authority payload (kind \"authority\", from a registry_event or token_event watcher) instead carries eventId, eventKind, title, symbol, address, detail, txHash, blockNumber, occurredAt (ISO 8601 UTC), explorerUrl and registryUrl."}},"required":["id","watcherId","status","createdAt","payload"]}}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Watcher not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/webhooks":{"get":{"summary":"List this account's webhook endpoints","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:read","responses":{"200":{"description":"Endpoints, oldest first","content":{"application/json":{"schema":{"type":"object","properties":{"webhooks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":["string","null"],"format":"date-time","description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":["string","null"],"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":["string","null"],"format":"date-time","description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]}}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"post":{"summary":"Register a webhook endpoint","description":"Returns the signing secret once. Every delivery carries X-Fletch-Signature: t=<unix>,v1=<hex hmac-sha256 over \"<t>.<body>\"> and X-Fletch-Event.","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:write","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"An https:// URL on a public host.","example":"https://example.com/fletch"},"name":{"type":"string","description":"Defaults to the URL's host."}},"required":["url"]}}}},"responses":{"201":{"description":"Created, with the secret shown once","content":{"application/json":{"schema":{"type":"object","properties":{"webhook":{"allOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":["string","null"],"format":"date-time","description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":["string","null"],"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":["string","null"],"format":"date-time","description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]},{"type":"object","required":["secret"]}]}}}}}},"400":{"description":"The URL is not an https:// URL on a public host","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Per-account endpoint limit reached","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/webhooks/{id}":{"patch":{"summary":"Enable, disable, or rotate the secret of an endpoint","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:write","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"enabled":{"type":"boolean"},"rotateSecret":{"type":"boolean"}}}}}},"responses":{"200":{"description":"The endpoint; a rotation includes the new secret once","content":{"application/json":{"schema":{"type":"object","properties":{"webhook":{"oneOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":["string","null"],"format":"date-time","description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":["string","null"],"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":["string","null"],"format":"date-time","description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]},{"allOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":["string","null"],"format":"date-time","description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":["string","null"],"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":["string","null"],"format":"date-time","description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]},{"type":"object","required":["secret"]}]}]}}}}}},"400":{"description":"Neither enabled nor rotateSecret was sent","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"delete":{"summary":"Delete an endpoint","description":"Watchers delivering to it are paused; the response says how many.","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:write","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"pausedWatchers":{"type":"integer"}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/webhooks/{id}/test":{"post":{"summary":"Send a signed ping to an endpoint now","description":"Always HTTP 200: the endpoint's own answer is in the body as ok, status and error. Sent directly rather than through the delivery outbox, so a failure is not retried.","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:write","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"What the endpoint answered","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"status":{"type":["integer","null"]},"error":{"type":["string","null"]}}}}}},"400":{"description":"The endpoint is disabled; enable it first","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many test deliveries; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/projects":{"get":{"summary":"List this account's projects","security":[{"bearerAuth":[]}],"x-required-scope":"projects:read","responses":{"200":{"description":"Projects","content":{"application/json":{"schema":{"type":"object","properties":{"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"buildCount":{"type":"integer"}},"required":["id","name","slug","createdAt","buildCount"]}}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Build"]}},"/builds/{id}":{"get":{"summary":"Get one build's status, contracts, and toolchain report","security":[{"bearerAuth":[]}],"x-required-scope":"builds:read","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The build","content":{"application/json":{"schema":{"type":"object","properties":{"build":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"prompt":{"type":"string"},"status":{"type":"string"},"billingMode":{"type":["string","null"],"enum":["platform","own_key",null],"description":"Immutable queued billing choice. Null means the older record did not capture this choice."},"custodyMode":{"type":["string","null"],"enum":["platform","hosted","gateway",null]},"provider":{"type":"string"},"model":{"type":["string","null"]},"capabilities":{"type":["object","null"],"properties":{"text":{"type":"boolean"},"tools":{"type":"boolean"},"images":{"type":"boolean"}}},"error":{"type":["string","null"]},"startedAt":{"type":["string","null"],"format":"date-time"},"finishedAt":{"type":["string","null"],"format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"previewUrl":{"type":["string","null"]},"contracts":{"type":"array","items":{"type":"object","properties":{"chainId":{"type":"integer"},"address":{"type":"string"},"verified":{"type":["boolean","null"]},"deployer":{"type":"string"}}}},"templateVersion":{"type":["string","null"],"description":"Sandbox frontend template version recorded for this build. Null when unknown, including legacy builds."},"compile":{"type":["object","null"],"description":"forge build --json result, or null if not yet compiled."},"tests":{"type":["object","null"],"description":"forge test --json result, or null if not yet run."},"analysis":{"type":["object","null"],"description":"Recorded Slither result, including whether the tool ran."},"artifacts":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Build"]}}},"webhooks":{"alert":{"post":{"summary":"A watcher alert posted to a registered endpoint","description":"Sent to the endpoint's url. X-Fletch-Event is `kind`; X-Fletch-Delivery is `id`; X-Fletch-Signature is `t=<unix seconds>,v1=<hex hmac-sha256 over \"<t>.<raw body>\">` keyed with the endpoint's secret. Answer 2xx within 10 seconds or it is retried, up to 8 attempts. The same `id` can arrive twice: use it as the idempotency key.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Delivery id, `dl_…` (`ping_…` for a test); the idempotency key."},"kind":{"type":"string","enum":["large_transfer","wallet_activity","authority","ping"]},"payload":{"type":"object","description":"DeliveryPayload — kind, chainId, address, symbol, from, to, value, amount, threshold, txHash, logIndex, blockNumber, blockHash, explorerUrl; wallet_activity adds wallet and direction (\"in\" | \"out\"); an authority payload (kind \"authority\", from a registry_event or token_event watcher) instead carries eventId, eventKind, title, symbol, address, detail, txHash, blockNumber, occurredAt (ISO 8601 UTC), explorerUrl and registryUrl."},"watcher":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"kind":{"type":"string"}},"description":"null for a ping, which belongs to the endpoint rather than to any watcher."},"queuedAt":{"type":"string","format":"date-time","description":"When Fletch matched the event. On a retry this is well before sentAt."},"attempt":{"type":"integer","description":"1 on the first try."},"sentAt":{"type":"string","format":"date-time","description":"When this attempt was posted."}},"required":["id","kind","payload","queuedAt","attempt","sentAt"]}}}},"responses":{"2xx":{"description":"Any 2xx marks the delivery sent"}}}}},"components":{"securitySchemes":{"bearerAuth":{"bearerFormat":"flk_...","type":"http","scheme":"bearer"}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]},"Chain":{"type":"object","properties":{"chainId":{"type":"integer"},"name":{"type":"string"},"network":{"type":"string","enum":["mainnet","testnet"]},"rpcUrl":{"type":"string"},"explorerUrl":{"type":"string"},"providerConfigured":{"type":"boolean"}},"required":["chainId","name","network","rpcUrl","explorerUrl","providerConfigured"]},"Asset":{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":["string","null"]},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":["string","null"],"format":"date-time"},"onchainName":{"type":["string","null"]},"onchainSymbol":{"type":["string","null"]},"onchainDecimals":{"type":["integer","null"]},"metadataCheckedAt":{"type":["string","null"],"format":"date-time"},"isin":{"type":["string","null"]},"logoUrl":{"type":["string","null"]}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},"AuthorityEvent":{"type":"object","description":"One entry in the registry changelog. `id` is stable across re-runs; the cursor for the row is `${observedAt}|${id}`.","properties":{"id":{"type":"string","description":"`ev_` followed by 24 hex characters; the same change is never written twice"},"kind":{"type":"string","description":"A dotted kind such as `registry.paused` or `multiplier.applied`; every kind the daemon can emit is in the response's `kinds`","example":"multiplier.applied"},"title":{"type":"string","description":"The change as one changelog line"},"symbol":{"type":["string","null"],"description":"The token concerned; null for a chain-wide event"},"address":{"type":["string","null"],"description":"The contract or account concerned; null for a chain-wide event"},"detail":{"type":["object","null"],"additionalProperties":true,"description":"The numbers behind the title; fields depend on the kind"},"block":{"type":["string","null"],"description":"Block number as a decimal string; null for events not tied to a block"},"txHash":{"type":["string","null"]},"occurredAt":{"type":"string","format":"date-time","description":"When the change happened on chain or at the source"},"observedAt":{"type":"string","format":"date-time","description":"When the daemon recorded it; the cursor orders by this"}},"required":["id","kind","title","symbol","address","detail","block","txHash","occurredAt","observedAt"]},"Watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]},"Run":{"type":"object","properties":{"id":{"type":"string"},"watcherId":{"type":"string"},"status":{"type":"string","enum":["pending","sent","failed","retracted"]},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"sentAt":{"type":["string","null"],"format":"date-time"},"payload":{"type":"object","description":"DeliveryPayload — kind, chainId, address, symbol, from, to, value, amount, threshold, txHash, logIndex, blockNumber, blockHash, explorerUrl; wallet_activity adds wallet and direction (\"in\" | \"out\"); an authority payload (kind \"authority\", from a registry_event or token_event watcher) instead carries eventId, eventKind, title, symbol, address, detail, txHash, blockNumber, occurredAt (ISO 8601 UTC), explorerUrl and registryUrl."}},"required":["id","watcherId","status","createdAt","payload"]},"Webhook":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":["string","null"],"format":"date-time","description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":["string","null"],"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":["string","null"],"format":"date-time","description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted and never returned again."}},"required":["id","name","url","secretPrefix","enabled","createdAt"]},"WebhookCreated":{"allOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"secretPrefix":{"type":"string","description":"The first characters of the signing secret; the secret itself is returned only once, at creation or rotation."},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"lastDeliveredAt":{"type":["string","null"],"format":"date-time","description":"When this endpoint last answered 2xx, including test pings — not necessarily an alert."},"lastError":{"type":["string","null"],"description":"The most recent failure whenever it happened, cleared by the next success. Compare lastErrorAt with lastDeliveredAt before reading it as a fault now."},"lastErrorAt":{"type":["string","null"],"format":"date-time","description":"When lastError was written. Null on an endpoint whose last failure predates this field."},"secret":{"type":"string","description":"Present only in the response that created or rotated this endpoint. Stored encrypted
[...]
