{"openapi":"3.1.0","info":{"title":"Fletch v1 API","version":"1.0.0","description":"Read the registry, and read/create/pause/delete watchers, key-authenticated (Authorization: Bearer flk_...). A signed-in browser session also authenticates, with every scope below. See /llms.txt for a plain-text guide (docs/API.md in the repository has the same material at length). Watcher alerts can be delivered to a webhook endpoint registered under /webhooks, signed with HMAC-SHA256. Not yet in v1: deploy. Public reads (every operation marked `security: []`) answer with `Access-Control-Allow-Origin: *` and a preflight, so a browser on any origin can fetch them without credentials; the keyed operations under /watchers, /webhooks, /projects and /builds send no CORS headers and are for servers. Every public read carries an ETag and a Cache-Control; a 429 carries Retry-After; a 401 carries WWW-Authenticate. A keyed operation names its scope in `x-required-scope`."},"servers":[{"url":"https://fletch.now/api/v1"}],"security":[{"bearerAuth":[]}],"paths":{"/chains":{"get":{"summary":"List Robinhood Chain networks","description":"Public. The public RPC URL, the explorer and whether Fletch has a provider key for the chain; a configured provider URL is never returned.","security":[],"responses":{"200":{"description":"The two Robinhood chains","content":{"application/json":{"schema":{"type":"object","properties":{"chains":{"type":"array","items":{"type":"object","properties":{"chainId":{"type":"integer"},"name":{"type":"string"},"network":{"type":"string","enum":["mainnet","testnet"]},"rpcUrl":{"type":"string"},"explorerUrl":{"type":"string"},"providerConfigured":{"type":"boolean"}},"required":["chainId","name","network","rpcUrl","explorerUrl","providerConfigured"]}}}}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/assets":{"get":{"summary":"Search issuer-listed assets and their recorded chain observations","description":"Public. Anonymous callers get 120 requests a minute per address; a key or a session uses its own budget. Each asset carries `state`: multiplier, pending multiplier, pause flags, supply, recorded beacon dependency, the Chainlink feed and Robinhood's quote.","security":[],"parameters":[{"name":"trust","in":"query","schema":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"description":"Filter the Robinhood listing collection by its shared trust verdict. Community tokens are resolved by /tokens/{address} and listed under /dex/pools; they are not added to Robinhood's registry."},{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Symbol or name substring"},{"name":"symbols","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA,AAPL","description":"Comma-separated exact tickers, up to 200; any past that are ignored"},{"name":"fields","in":"query","required":false,"schema":{"type":"string"},"example":"lookalikes,feedRounds,concentration","description":"Extra per-asset blocks: lookalikes, corporateActions, multiplierHistory, feedRounds, concentration (up to 50 assets)"}],"responses":{"200":{"description":"Assets, each with trust and state, plus any extra blocks fields= asked for","content":{"application/json":{"schema":{"type":"object","properties":{"assets":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":["string","null"]},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":["string","null"],"format":"date-time"},"onchainName":{"type":["string","null"]},"onchainSymbol":{"type":["string","null"]},"onchainDecimals":{"type":["integer","null"]},"metadataCheckedAt":{"type":["string","null"],"format":"date-time"},"isin":{"type":["string","null"]},"logoUrl":{"type":["string","null"]}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},{"type":"object","properties":{"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"label":{"type":"string"},"detail":{"type":"string"}}},"state":{"type":["object","null"],"description":"The asset's live state as the registry daemon last read it; every sub-block carries the time it was read.","properties":{"multiplier":{"type":["number","null"]},"pendingMultiplier":{"type":["number","null"]},"multiplierEffectiveAt":{"type":["string","null"],"format":"date-time"},"tokenPaused":{"type":["boolean","null"]},"oraclePaused":{"type":["boolean","null"]},"totalSupplyRaw":{"type":["string","null"]},"totalSupplyUi":{"type":["string","null"]},"canonical":{"type":["boolean","null"]},"beacon":{"type":["string","null"]},"implementation":{"type":["string","null"]},"feed":{"type":["object","null"],"properties":{"address":{"type":"string"},"price":{"type":["number","null"]},"updatedAt":{"type":["string","null"]},"stale":{"type":["boolean","null"]}}},"quote":{"type":["object","null"],"properties":{"bid":{"type":["number","null"]},"ask":{"type":["number","null"]},"tradingHalt":{"type":["boolean","null"]},"dailyVolume":{"type":["number","null"]},"at":{"type":["string","null"]}}},"priceDivergencePct":{"type":["number","null"]},"dex":{"type":["object","null"],"description":"The deepest dollar-priced pool and its premium to the feed."},"secondSource":{"type":["object","null"],"description":"Blockscout's holders, transfers and supply, with supplyAgreement agree|close|differ|unknown."},"checkedAt":{"type":["string","null"],"format":"date-time"}}},"lookalikes":{"type":"array","items":{"type":"object"}},"corporateActions":{"type":"array","items":{"type":"object"}},"multiplierHistory":{"type":"array","items":{"type":"object"}},"feedRounds":{"type":"array","items":{"type":"object"}}}}]}},"fields":{"type":"array","items":{"type":"string"},"description":"The extra blocks a caller may request"}}}}}},"400":{"description":"fields= was set on more than 50 assets; narrow with symbols=","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}":{"get":{"summary":"Get one registry asset by symbol, with its state, multiplier history, mints and burns, supply snapshots, corporate actions and control-plane events","description":"Public, rate-limited per address when anonymous. Raw amounts are strings (exact on chain); prices and multipliers are numbers.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"}},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"AAPL"}],"responses":{"200":{"description":"The asset with everything the registry knows about it","content":{"application/json":{"schema":{"type":"object","properties":{"asset":{"type":"object","properties":{"id":{"type":"string","description":"`${chainId}:${address}`"},"chainId":{"type":"integer"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"assetType":{"type":"string","enum":["stock_token","stablecoin","wrapped_native","bridged"]},"decimals":{"type":"integer"},"status":{"type":"string"},"source":{"type":"string"},"sourceUri":{"type":["string","null"]},"observedAt":{"type":"string","format":"date-time"},"firstSeenAt":{"type":"string","format":"date-time","description":"When Fletch first saw the token; Robinhood publishes no listing date"},"verifiedAt":{"type":["string","null"],"format":"date-time"},"onchainName":{"type":["string","null"]},"onchainSymbol":{"type":["string","null"]},"onchainDecimals":{"type":["integer","null"]},"metadataCheckedAt":{"type":["string","null"],"format":"date-time"},"isin":{"type":["string","null"]},"logoUrl":{"type":["string","null"]}},"required":["id","chainId","address","symbol","name","assetType","decimals","status","source"]},"trust":{"type":"object","description":"Derived from the row: whether bytecode was found and the contract agrees with the listing.","properties":{"level":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"label":{"type":"string"},"detail":{"type":"string"}}},"state":{"type":["object","null"],"description":"The asset's live state as the registry daemon last read it; every sub-block carries the time it was read.","properties":{"multiplier":{"type":["number","null"]},"pendingMultiplier":{"type":["number","null"]},"multiplierEffectiveAt":{"type":["string","null"],"format":"date-time"},"tokenPaused":{"type":["boolean","null"]},"oraclePaused":{"type":["boolean","null"]},"totalSupplyRaw":{"type":["string","null"]},"totalSupplyUi":{"type":["string","null"]},"canonical":{"type":["boolean","null"]},"beacon":{"type":["string","null"]},"implementation":{"type":["string","null"]},"feed":{"type":["object","null"],"properties":{"address":{"type":"string"},"price":{"type":["number","null"]},"updatedAt":{"type":["string","null"]},"stale":{"type":["boolean","null"]}}},"quote":{"type":["object","null"],"properties":{"bid":{"type":["number","null"]},"ask":{"type":["number","null"]},"tradingHalt":{"type":["boolean","null"]},"dailyVolume":{"type":["number","null"]},"at":{"type":["string","null"]}}},"priceDivergencePct":{"type":["number","null"]},"dex":{"type":["object","null"],"description":"The deepest dollar-priced pool and its premium to the feed."},"secondSource":{"type":["object","null"],"description":"Blockscout's holders, transfers and supply, with supplyAgreement agree|close|differ|unknown."},"checkedAt":{"type":["string","null"],"format":"date-time"}}},"multiplierHistory":{"type":"array","items":{"type":"object"}},"supplyEvents":{"type":"array","items":{"type":"object"}},"supplySnapshots":{"type":"array","items":{"type":"object"}},"corporateActions":{"type":"array","items":{"type":"object"}},"controlEvents":{"type":"array","items":{"type":"object"}},"lookalikes":{"type":"array","items":{"type":"object"}},"feedRounds":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"No such asset on this chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/control-plane":{"get":{"summary":"The issuer's AccessControlsRegistry: paused, implementation, blocked-address count, and its latest events","description":"Public. One contract governs every Stock Token: this is the surface no other index publishes. `limit` caps events (default 50, max 200), newest first. `offset` skips that many events, so `offset=200&limit=200` is the second page; an event that lands between two page reads repeats one row on the next page, so a consumer copying the log dedupes by `txHash` and `logIndex`. A page shorter than `limit` is the last one. `state` is the same on every page.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200},"description":"Events per page (default 50)"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0},"description":"Events to skip before the page (default 0)"}],"responses":{"200":{"description":"Registry state and events","content":{"application/json":{"schema":{"type":"object","properties":{"state":{"type":"object"},"events":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/health":{"get":{"summary":"The chain's latest vital signs: head, block time, base fee, L1 block, batch count, delayed messages, batch-poster balance, status page","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Latest reading","content":{"application/json":{"schema":{"type":"object","properties":{"health":{"type":"object"}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/corporate-actions":{"get":{"summary":"Corporate actions in progress, as Robinhood publishes them, tied to the token each affects","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Actions in progress","content":{"application/json":{"schema":{"type":"object","properties":{"actions":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/assets/{symbol}/holders":{"get":{"summary":"Holders largest first with share of supply and what each address is, holder count, the latest concentration reading with the shares that say where the supply sits, and whether the ledger has reached the chain head","description":"Public. `sits` is always one of `float`, `pools`, `issuer`, `bridge`, `contracts`, `unknown`, and names the concentration share this address's balance counts towards; `unknown` means the code probe has not checked this address yet. `label` and `labelKind` (`pool_manager`, `dex_pool`, `issuer`, `bridge_gateway`, `locker`, `contract`, `exchange`, `eoa`) are null for an address the registry has nothing to say about. `rawBalance` is in the token's base units; divide by 10^`decimals`. `sharePct` is that balance over `totalSupplyRaw`, read live, while the concentration shares are over the sum of every positive balance the ledger held at `concentration.asOfBlock`, so the two can differ slightly while the ledger trails the chain. `concentration` carries `top1Pct`, `top10Pct` and `gini` over every positive balance, and the six shares `floatPct`, `poolsPct`, `issuerPct`, `bridgePct`, `contractsPct` and `unknownPct`, which add to 100: float is the supply in ordinary wallets. `unknownPct` is the share held by addresses the code probe has not checked — it checks every holder above a ten-thousandth of a token's supply, so a tail of small holdings stays here permanently and `floatPct` is always a floor rather than a final answer. `issuerPct` is the share of every wallet labelled `issuer`, which is written only for Stock Tokens, whose mints are the issuer creating inventory; `issuerAddress` is this asset's largest mint recipient whatever the asset type. `concentration.day` is the UTC day of the reading, `takenAt` the ISO instant the job wrote it, and `asOfBlock` the ledger block it was computed at; the job runs every 24 h, so a share can be up to a day old. `concentration.holders` is the address count at that moment, while the top-level `holderCount` is read live and can differ. The shares come from the daily concentration job, which does not run while the transfer ledger is still reading history, so `concentration` is null until the ledger reaches head.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":50},"description":"How many holders, largest first"}],"responses":{"200":{"description":"Holders","content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string"},"decimals":{"type":"integer"},"totalSupplyRaw":{"type":["string","null"],"description":"Live total supply in base units, the denominator of sharePct"},"holders":{"type":"array","items":{"type":"object","properties":{"holder":{"type":"string"},"rawBalance":{"type":"string","description":"Base units; divide by 10^decimals"},"sharePct":{"type":["number","null"]},"asOfBlock":{"type":"string"},"label":{"type":["string","null"]},"labelKind":{"type":["string","null"],"enum":["pool_manager","dex_pool","issuer","bridge_gateway","locker","contract","exchange","eoa",null]},"sits":{"type":"string","enum":["float","pools","issuer","bridge","contracts","unknown"]}}}},"holderCount":{"type":"integer"},"concentration":{"type":["object","null"]},"progress":{"type":"object"}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/activity":{"get":{"summary":"Transfers as economics, one row per UTC day: transfers, volume, mints, burns, DvP against USDG, off-hours transfers","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"days","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":400,"default":30},"description":"How many UTC days back; a malformed value reads as the default"}],"responses":{"200":{"description":"Days","content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/pools":{"get":{"summary":"Pools trading the asset on every DEX the registry reads, deepest first, with venue, price, liquidity, fee, hooks, last-day swaps and volume, and the pool behind the asset's premium to the feed","description":"Public. `venue` is `uniswap_v4` or `uniswap_v3`; a v4 pool is an id inside the one PoolManager and has a null `poolAddress`, a v3 pool is a contract and carries its address. A pool is recorded when one side is this asset and the other is a listed quote (USDG, WETH or another Stock Token). Pools are deepest first by `depthUsd`. V3 depth uses observed quote-side holdings. V4 depth uses a bounded quote estimate for a 1% price move, where per-pool token reserves are unavailable; `liquidity` is the pool's in-range Uniswap liquidity L in raw units, not a dollar figure, and is comparable only between pools of the same pair (its scale follows the two tokens' decimals). `best` is the deepest pool in dollars of any venue, which is the one the asset's premium to the Chainlink feed is measured from, and names its venue. `swaps24h` counts swap logs and `transactions24h` counts distinct transactions in (metricsAsOf - 24 hours, metricsAsOf], using each event block timestamp. Values are null until the entire window is indexed and when its end is more than 120 seconds old. `volumeUsd24h` uses the indexed quote leg. USDG is nominally denominated at 1 USDG = $1; WETH uses a recorded historical oracle estimate with at most one-hour archive sample age and an oracle answer within its published heartbeat. `volumeValuation` retains the method and coverage reason. Zero means a completely scanned window with no matching activity. `discovery` says how far each venue's pool scan has read: while `readingHistory` is true, a pool created in blocks the scan has not reached yet is not listed, and a venue whose `scanned` is false has not been read at all.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"}],"responses":{"200":{"description":"Pools","content":{"application/json":{"schema":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object"}},"best":{"type":["object","null"]},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":["string","null"]},"headBlock":{"type":["string","null"]},"headAt":{"type":["string","null"],"format":"date-time","description":"When the chain head above was read."},"blocksBehind":{"type":["string","null"]},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/tokens/{address}":{"get":{"summary":"Token identity and current market observations at one contract address","description":"Public. The canonical trust verdict is shared by pages and pool responses. A lookalike records a normalized name or ticker collision; it does not establish intent. `reading` is the exact token-page observation: full address, economic selection reason, same-name alternatives, selected-pool volume, market cap and holders with source, timestamp and missing-value reason. Community dominance is an economic comparison. `market` retains the compact selected-pool view. V3 quote holdings and V4 bounded 1% quote input are separate measures. Volume sources distinguish nominal USDG quote units from WETH converted with a historical oracle estimate.","security":[],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"example":"0x0000000000000000000000000000000000000000"}],"responses":{"200":{"description":"What this token is","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"address":{"type":"string"},"trust":{"type":"string","enum":["verified","listed","lookalike","community","unknown"]},"label":{"type":"string"},"detail":{"type":"string"},"impersonates":{"type":["object","null"],"properties":{"symbol":{"type":"string"},"name":{"type":"string"},"address":{"type":"string"},"registryUrl":{"type":"string"}}},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"decimals":{"type":["integer","null"]},"source":{"type":"string","enum":["registry","discovered","none"]},"firstSeenAt":{"type":["string","null"],"format":"date-time"},"readAt":{"type":["string","null"],"format":"date-time"},"registryUrl":{"type":["string","null"]},"explorerUrl":{"type":"string"},"reading":{"anyOf":[{"type":"object","properties":{"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"trust":{"type":"string","enum":["verified","listed","community","lookalike","unknown"]},"selection":{"type":"object","properties":{"selectedAt":{"type":["string","null"],"format":"date-time"},"expiresAt":{"type":["string","null"],"format":"date-time"},"policy":{"type":"string","description":"Versioned bounded selection: issuer listing, otherwise V3 quote holdings at least $10,000, otherwise V4 bounded 1% estimate at least $100. No issuer verification is inferred from economics."},"status":{"type":"string","enum":["current","stale","missing","invalid"]}},"required":["selectedAt","expiresAt","policy","status"],"description":"Recorded bounded universe comparison; expires after fifteen minutes. A stale selection withholds dominantAddress while retaining its explanation and observation time."},"dominantAddress":{"type":["string","null"]},"selectionReason":{"type":"string"},"closeCall":{"type":"boolean"},"alternatives":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"reason":{"type":"string"}},"required":["address","symbol","name","reason"]}},"bestPoolId":{"type":["string","null"]},"poolCount":{"type":"integer"},"decimals":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"totalSupplyRaw":{"type":"object","properties":{"value":{"type":["string","null"],"pattern":"^[0-9]+$"},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"burnedRaw":{"type":"object","properties":{"value":{"type":["string","null"],"pattern":"^[0-9]+$"},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"metadataReason":{"type":["string","null"]},"volumeScope":{"const":"selected_pool"},"priceUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"marketCapUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"volumeUsd24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"swaps24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"transactions24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"holders":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"v3QuoteHoldingsUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"v4OnePercentDepthUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]}},"required":["chainId","address","trust","selection","selectionReason","alternatives","priceUsd","marketCapUsd","volumeUsd24h","holders","volumeScope"]},{"type":"null"}]},"market":{"type":["object","null"],"properties":{"poolId":{"type":"string"},"venue":{"type":"string"},"priceUsd":{"type":["number","null"]},"depthUsd":{"type":["number","null"]},"swaps24h":{"type":["integer","null"]},"transactions24h":{"type":["integer","null"]},"metricsAsOf":{"type":["string","null"],"format":"date-time"},"priceSource":{"const":"dex"},"volumeUsd24h":{"type":["number","null"]}}},"note":{"type":"string"}},"required":["chainId","address","trust","label","detail","source","explorerUrl"]}}}},"400":{"description":"Not an address","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/markets":{"get":{"summary":"Priority tokens, one contract per row, ordered by observed selected-pool volume","description":"Public. Listed assets and selected major community contracts use the same token read model as token pages and /tokens/{address}. Each metric carries structured observation provenance, computation inputs, coverage, source/fetch times and expiry, alongside compatibility source/asOf/reason fields. Pool state expires after three minutes, changing supply and burn balances after five minutes, and selected-pool swap windows after two minutes. Capitalization expires with its earliest-expiring required input. Missing legacy provenance remains null. Selection time and its fifteen-minute policy expiry are explicit; stale selection withholds dominance. Volume covers the selected pool only. Missing volume sorts last with a stable name/address tie-break. Economic dominance never changes a trust verdict. The selected universe and same-name comparisons are bounded; registry history remains available through the pool and asset endpoints.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer","const":4663}},{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"maximum":999999,"default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","enum":[25,50],"default":25}},{"name":"kind","in":"query","description":"all: Issuer listings and priority community contracts. listed: Contracts in the issuer list, including pending checks. community: Priority contracts outside the issuer list. Check their trust badge.","schema":{"type":"string","enum":["all","listed","community"],"default":"all"}},{"name":"trust","in":"query","description":"all: Keep every recorded identity verdict. verified: Issuer listing and matching contract checks. listed: Issuer listing with checks still incomplete. community: Resolved metadata with no recorded issuer-name collision. lookalike: Name or symbol collides with a verified asset. unknown: Identity calls have not resolved this contract.","schema":{"type":"string","enum":["all","verified","listed","community","lookalike","unknown"],"default":"all"}},{"name":"sort","in":"query","description":"volume: Selected-pool USD volume, highest first. swaps: Selected-pool swap events, highest first. market_cap: Outstanding supply estimate times current price, highest first. v3_depth: Observed quote-side holdings in dollars, highest first. v4_depth: Bounded quote input for a 1% move, highest first. name: Alphabetical name, then contract address.","schema":{"type":"string","enum":["volume","swaps","market_cap","v3_depth","v4_depth","name"],"default":"volume"}},{"name":"activity","in":"query","description":"all: Include incomplete and unavailable swap windows. traded: At least one swap in a complete current 24-hour window. busy: At least 100 swaps in a complete current window. quiet: A complete current window with exactly zero swaps.","schema":{"type":"string","enum":["all","traded","busy","quiet"],"default":"all"}},{"name":"data","in":"query","description":"all: Keep unavailable measures with their reason. priced: Usable selected-pool price with pool state and quote conversion inside their three-minute freshness policy. volume: Valued 24-hour window counted through the last two minutes. complete: All three measures have usable current inputs.","schema":{"type":"string","enum":["all","priced","volume","complete"],"default":"all"}},{"name":"depth","in":"query","description":"all: Keep both pool types and unavailable observations. v3_10k: At least $10,000 of current quote-side holdings. v3_100k: At least $100,000 of current quote-side holdings. v4_1k: At least $1,000 of bounded quote input for a 1% move. v4_10k: At least $10,000 of bounded quote input for a 1% move.","schema":{"type":"string","enum":["all","v3_10k","v3_100k","v4_1k","v4_10k"],"default":"all"}},{"name":"identity","in":"query","description":"all: One row per recorded priority contract. dominant: Community contracts selected by the recorded economic comparison. same_name: Contracts with alternatives in the recorded comparison set. close_call: The dominance comparison recorded a close call.","schema":{"type":"string","enum":["all","dominant","same_name","close_call"],"default":"all"}},{"name":"minVolumeUsd","in":"query","description":"Inclusive selected-pool USD volume threshold. Requires a complete current valued window.","schema":{"type":"number","minimum":0,"maximum":1000000000000}},{"name":"q","in":"query","schema":{"type":"string","maxLength":128}}],"responses":{"200":{"description":"A page of token observations","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"items":{"type":"array","items":{"type":"object","properties":{"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"trust":{"type":"string","enum":["verified","listed","community","lookalike","unknown"]},"selection":{"type":"object","properties":{"selectedAt":{"type":["string","null"],"format":"date-time"},"expiresAt":{"type":["string","null"],"format":"date-time"},"policy":{"type":"string","description":"Versioned bounded selection: issuer listing, otherwise V3 quote holdings at least $10,000, otherwise V4 bounded 1% estimate at least $100. No issuer verification is inferred from economics."},"status":{"type":"string","enum":["current","stale","missing","invalid"]}},"required":["selectedAt","expiresAt","policy","status"],"description":"Recorded bounded universe comparison; expires after fifteen minutes. A stale selection withholds dominantAddress while retaining its explanation and observation time."},"dominantAddress":{"type":["string","null"]},"selectionReason":{"type":"string"},"closeCall":{"type":"boolean"},"alternatives":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"reason":{"type":"string"}},"required":["address","symbol","name","reason"]}},"bestPoolId":{"type":["string","null"]},"poolCount":{"type":"integer"},"decimals":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"totalSupplyRaw":{"type":"object","properties":{"value":{"type":["string","null"],"pattern":"^[0-9]+$"},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"burnedRaw":{"type":"object","properties":{"value":{"type":["string","null"],"pattern":"^[0-9]+$"},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"metadataReason":{"type":["string","null"]},"volumeScope":{"const":"selected_pool"},"priceUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"marketCapUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"volumeUsd24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"swaps24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"transactions24h":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"holders":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"v3QuoteHoldingsUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]},"v4OnePercentDepthUsd":{"type":"object","properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"asOf":{"type":["string","null"],"format":"date-time","description":"Compatibility observation time. Derived capitalization uses the oldest required input time; inspect observation.inputs for each input."},"reason":{"type":["string","null"]},"observation":{"$ref":"#/components/schemas/MetricObservation"}},"required":["value","source","asOf","reason","observation"]}},"required":["chainId","address","trust","selection","selectionReason","alternatives","priceUsd","marketCapUsd","volumeUsd24h","holders","volumeScope"]}},"total":{"type":"integer"},"page":{"type":"integer"},"pageSize":{"type":"integer"},"sort":{"type":"string"},"asOf":{"type":"string","format":"date-time"},"scope":{"type":"string"},"note":{"type":"string"},"appliedFilters":{"type":"object","additionalProperties":{"type":"string"},"description":"Normalized non-default filter values; defaults are in filterDefinitionsUrl. Page and pageSize are returned separately."},"filterDefinitionsUrl":{"type":"string"}},"required":["chainId","items","total","page","pageSize","asOf","sort"]}}}},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unsupported chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/markets/filters":{"get":{"summary":"Discover token-market filters, labels, thresholds and useful query presets","description":"The catalog used by the token Markets page and query parser. Combine filters with AND. Activity requires a complete current selected-pool window. Numeric thresholds exclude unavailable data, including for a threshold of zero. V3 quote holdings and V4 bounded depth are separate filters and sorts.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer","const":4663}}],"responses":{"200":{"description":"Machine-readable market filter catalog","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer","const":4663},"version":{"type":"integer"},"scope":{"type":"string"},"combination":{"type":"string"},"ordering":{"type":"string"},"filters":{"type":"object","properties":{"kind":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"trust":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"sort":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"activity":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"data":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"depth":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]},"identity":{"type":"object","properties":{"label":{"type":"string"},"default":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"required":["value","label","description"]}}},"required":["label","default","options"]}},"required":["kind","trust","sort","activity","data","depth","identity"]},"minVolumeUsd":{"type":"object","properties":{"label":{"type":"string"},"minimum":{"type":"number"},"maximum":{"type":"number"},"description":{"type":"string"}},"required":["label","minimum","maximum","description"]},"presets":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"query":{"type":"object","additionalProperties":{"type":"string"}}},"required":["label","query"]}}},"required":["chainId","version","scope","combination","ordering","filters","minVolumeUsd","presets"]}}}},"404":{"description":"Unsupported chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/dex/pools":{"get":{"summary":"Indexed pools with token identity, separate depth measures and current swap observations","description":"Public. `kind=listed` filters membership in Robinhood's list; `kind=community` keeps unlisted priced tokens; `kind=lookalike` selects recorded collisions. The response `kind` is an alias of the canonical `trust` verdict; `listing` retains membership separately. `sort=volume` ranks actual current 24-hour volume, missing values last, with pool identity as the tie-break. `traction` explicitly adds depth and swap-count tie-breaks. Search accepts token names, tickers, full contracts, v3 pool addresses and v4 pool IDs. Swap and transaction counts require a complete current window. Volume sources distinguish nominal USDG denomination and historical WETH oracle estimates. V3 quote holdings and V4 bounded 1% quote input retain distinct labels and never form a combined TVL.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string","enum":["all","listed","community","lookalike"],"default":"all"},"description":"Also accepted as `trust`."},{"name":"tier","in":"query","required":false,"schema":{"type":"string","enum":["active","quiet","dormant","all"],"default":"active"},"description":"Which tiers to list; the default is the pools worth watching."},{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["traction","depth","volume","swaps","newest"],"default":"volume"}},{"name":"venue","in":"query","required":false,"schema":{"type":"string","enum":["uniswap_v4","uniswap_v3"]}},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Token or pool name, symbol, or a complete 0x address. Addresses are matched in full.","example":"PIPE"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0}}],"responses":{"200":{"description":"A page of pools","content":{"application/json":{"schema":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object","properties":{"poolId":{"type":"string"},"venue":{"type":"string","enum":["uniswap_v4","uniswap_v3"]},"kind":{"type":"string","enum":["verified","listed","community","lookalike","unknown"],"description":"Alias of trust for the priced token. Listing membership is separate."},"trust":{"type":"string","enum":["verified","listed","community","lookalike","unknown"]},"trustDetail":{"type":"string"},"tokenAddress":{"type":["string","null"]},"listing":{"type":"string","enum":["listed","unlisted"]},"depthMeasure":{"type":"string","enum":["quote_holdings","bounded_one_percent_quote","unavailable"]},"depthSource":{"type":["string","null"]},"quoteObservation":{"type":["object","null"],"properties":{"value":{"type":["number","null"]},"source":{"type":["string","null"]},"reason":{"type":["string","null"]},"sourceId":{"type":["string","null"],"description":"Stable source kind and identity; null when the stored source has no structured identity."},"sourceAt":{"type":["string","null"],"format":"date-time"},"fetchedAt":{"type":["string","null"],"format":"date-time"},"expiresAt":{"type":["string","null"],"format":"date-time"},"blockNumber":{"type":["string","null"],"pattern":"^[0-9]+$"},"blockHash":{"type":["string","null"]},"method":{"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":["string","number","boolean","null"]},"description":"Structured computation parameters, including historical quote sampling/oracle times and valuation assumptions when recorded."}},"required":["value","source","reason","sourceId","sourceAt","fetchedAt","expiresAt","blockNumber","blockHash","method","parameters"],"description":"Quote conversion captured with the pool snapshot. Null for older observations. A fixed USDG notional assumption has no oracle source timestamp."},"tier":{"type":"string","enum":["active","quiet","dormant"],"description":"Active pools are prioritized for background sampling; quiet pools receive a daily cycle; dormant pools receive demand-driven reads. Scheduling does not establish freshness: inspect stateCheckedAt and stateCurrent."},"lastSwapAt":{"type":["string","null"],"format":"date-time"},"poolAddress":{"type":["string","null"]},"currency0":{"type":"string"},"currency1":{"type":"string"},"fee":{"type":"integer"},"feeDynamic":{"type":"boolean"},"feePct":{"type":["number","null"]},"tickSpacing":{"type":"integer"},"hooks":{"type":"string"},"asset":{"type":["string","null"],"description":"The listed asset's ticker; null for a community pool."},"token":{"type":["object","null"],"description":"The unlisted side of a community pool, as its own contract describes it. Nothing here is verified.","properties":{"address":{"type":"string"},"symbol":{"type":["string","null"]},"name":{"type":["string","null"]},"decimals":{"type":["integer","null"]},"totalSupplyRaw":{"type":["string","null"],"description":"Base units; divide by 10^decimals."},"fdvUsd":{"type":["number","null"],"description":"Total supply times the pool's dollar price."},"burnedRaw":{"type":["string","null"],"description":"Sum of readable balances at the zero and dead addresses, in base units."},"marketCapUsd":{"type":["number","null"],"description":"Total supply minus zero/dead-address balances, times the pool price. An upper bound on circulating value. Null without supply, burn balances, decimals or usable price, or when recorded burns exceed supply. Confirmed zero outstanding supply renders zero."},"supplyReadAt":{"type":["string","null"],"format":"date-time"},"supplyExpiresAt":{"type":["string","null"],"format":"date-time"},"supplyCurrent":{"type":"boolean","description":"Supply and recorded burn balances are at most five minutes old. FDV and capitalization are withheld otherwise."},"readAt":{"type":["string","null"],"format":"date-time"}}},"quote":{"type":["string","null"]},"createdBlock":{"type":"string"},"sqrtPriceX96":{"type":["string","null"]},"tick":{"type":["integer","null"]},"liquidity":{"type":["string","null"]},"depthUsd":{"type":["number","null"],"description":"Depth in USD uses observed quote-side holdings for v3. For v4 it uses a bounded quote estimate for a 1% price move; per-pool token reserves are unavailable. Check the pool's observation time and stateCurrent flag."},"priceInQuote":{"type":["number","null"]},"priceUsd":{"type":["number","null"]},"swaps24h":{"type":["integer","null"]},"transactions24h":{"type":["integer","null"],"description":"Distinct transactions in the exact indexed 24-hour window."},"metricsAsOf":{"type":["string","null"],"format":"date-time","description":"End of the indexed 24-hour window; metrics expire after 120 seconds."},"metricsWindowStartAt":{"type":["string","null"],"format":"date-time"},"metricsCoverageComplete":{"type":"boolean"},"metricsCurrent":{"type":"boolean"},"volume0Raw":{"type":["string","null"],"description":"Sum of absolute currency0 swap amounts in base units, only for a complete current window."},"volume1Raw":{"type":["string","null"],"description":"Sum of absolute currency1 swap amounts in base units. Separate from currency0; the legs are never added together."},"volumeUsd24h":{"type":["number","null"]},"volumeValuation":{"type":["object","null"],"description":"Historical quote method, source and missing-value reason. USDG is nominal denomination; WETH uses a bounded-age historical oracle estimate."},"stateCheckedAt":{"type":["string","null"],"format":"date-time"},"stateCurrent":{"type":"boolean","description":"The pool state was observed within three minutes, its timestamp is not in the future, and its captured quote conversion has not expired. When false, depth, price, FDV and price changes are null; stateCheckedAt retains the actual observation time."},"pricePublished":{"type":"boolean","description":"Current state has a finite positive price and clears the configured depth floor."},"change5mPct":{"type":["number","null"],"description":"Dollar price against the newest sample at or before five minutes ago; null when no sample is old enough."},"change1hPct":{"type":["number","null"]},"change6hPct":{"type":["number","null"]},"change24hPct":{"type":["number","null"]}},"required":["poolId","venue","kind","currency0","currency1","fee","createdBlock","stateCurrent","pricePublished"]}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"},"kind":{"type":"string"},"tier":{"type":"string"},"sort":{"type":"string"},"venue":{"type":["string","null"]},"q":{"type":["string","null"]},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":["string","null"]},"headBlock":{"type":["string","null"]},"headAt":{"type":["string","null"],"format":"date-time","description":"When the chain head above was read."},"blocksBehind":{"type":["string","null"]},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}},"required":["pools","total","limit","offset","discovery"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chains"]}},"/chains/{chainId}/dex":{"get":{"summary":"The DEX venues the registry reads and what each contributes: pools trading a listed asset, how many carry a dollar price, the last day's swaps and volume, and how many assets take their premium from a pool there","description":"Public. One row per venue read (`uniswap_v4`, `uniswap_v3`), whether or not it has a pool on record yet, so `venues` and `discovery` name the same set. `assetsPricedHere` counts the assets whose deepest pool in dollars sits on that venue, so the venues' figures add up to the assets with a DEX price. `depthUsd` sums depth over the venue's priced pools: observed quote-side holdings for v3, and a bounded quote estimate for a 1% price move for v4 where per-pool token reserves are unavailable; Uniswap's raw liquidity L compares two pools only when they hold the same pair. `swaps24h` counts swap logs and `transactions24h` counts distinct transactions in (metricsAsOf - 24 hours, metricsAsOf], using each event block timestamp. Values are null until the entire window is indexed and when its end is more than 120 seconds old. `volumeUsd24h` uses the indexed quote leg. USDG is nominally denominated at 1 USDG = $1; WETH uses a recorded historical oracle estimate with at most one-hour archive sample age and an oracle answer within its published heartbeat. `volumeValuation` retains the method and coverage reason. Zero means a completely scanned window with no matching activity. `checkedAt` is when the state read last priced a pool on that venue; `headAt` inside `discovery` is when the chain head there was read. `discovery` carries each venue's pool scan position against that head; while `readingHistory` is true the counts are a floor, not a total, and while `scanned` is false the venue has not been read at all. The Pons launchpad creates its pools on the Uniswap v3 factory, so they are counted as `uniswap_v3` rather than as a venue of their own.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"DEX venues","content":{"application/json":{"schema":{"type":"object","properties":{"venues":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string","enum":["uniswap_v4","uniswap_v3"]},"pools":{"type":"integer","description":"Pools that trade a listed asset against a listed quote."},"pricedPools":{"type":"integer","description":"Of those, how many the state read has put a dollar price on."},"depthUsd":{"type":["number","null"],"description":"Depth in USD uses observed quote-side holdings for v3. For v4 it uses a bounded quote estimate for a 1% price move; per-pool token reserves are unavailable. Check the pool's observation time and stateCurrent flag. Venue depth is the sum over its priced pools."},"swaps24h":{"type":["integer","null"],"description":"Swap logs in the exact indexed 24-hour window, null for incomplete or stale coverage."},"volumeUsd24h":{"type":["number","null"],"description":"USD over the same exact window using historical per-swap valuations; null when valuations are incomplete."},"assetsPricedHere":{"type":"integer"},"checkedAt":{"type":["string","null"],"format":"date-time","description":"When the state read last priced a pool on this venue."}},"required":["venue","pools","pricedPools","swaps24h","assetsPricedHere"]}},"discovery":{"type":"array","items":{"type":"object","properties":{"venue":{"type":"string"},"scanned":{"type":"boolean","description":"Discovery has read this venue at least once; false means no pool from it is listed yet because nothing has looked."},"scannedToBlock":{"type":["string","null"]},"headBlock":{"type":["string","null"]},"headAt":{"type":["string","null"],"format":"date-time","description":"When the chain head above was read."},"blocksBehind":{"type":["string","null"]},"readingHistory":{"type":"boolean"}},"required":["venue","scanned","readingHistory"]}},"note":{"type":"string"}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/assets/{symbol}/history":{"get":{"summary":"One row per UTC day of everything the registry publishes about an asset: multiplier, pause and halt flags, feed price and staleness, bid and ask, divergence, DEX price, premium and liquidity, supply, holders and lookalike count","description":"Public. Written by the state-daily job, which runs hourly and rewrites the current UTC day's row, so a past day can be read back; the live tables carry only the current answer. Each row is a single reading taken at `takenAt`, not a daily open, close, mean or end-of-day value: it is the last reading the job took on that day, and the row for the current day is rewritten on the job's next run, so today's row is a partial day. Compare `takenAt` across rows before treating the series as evenly spaced. `from`/`to` are UTC days and default to the last 90; `days` sets the window length instead of `from`; `at=YYYY-MM-DD` returns that one day (an empty `days` array when no snapshot was taken); `fields` narrows each row to the keys named, `day` always included. `coverage` says how many days are actually on record and the first of them: there is nothing before the day the job first ran. A null is a figure that was not read that day, never a zero: a figure is copied only when the job that writes it read it that day, and `stateCheckedAt`, `feedCheckedAt`, `apiCheckedAt`, `dexCheckedAt` and `blockscoutCheckedAt` say when each group of figures was last read. `ledgerHolders` is written only for assets whose transfer history the ledger had finished reading, and `lookalikes` only once the lookalike scan has completed a pass. Rows are flat versions of the live `state` block: `feedPrice`/`feedStale` are `state.feed.price`/`.stale`, `bid`/`ask`/`tradingHalt` are `state.quote.bid`/`.ask`/`.tradingHalt`, `dexPriceUsd`/`dexPremiumPct`/`dexLiquidity` are `state.dex.priceUsd`/`.premiumPct`/`.liquidity`, `blockscoutHolders` is `state.secondSource.holders`, `multiplier` is `state.multiplier`.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"First UTC day, YYYY-MM-DD; must not be after `to`"},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"Last UTC day, YYYY-MM-DD; defaults to today"},{"name":"days","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":3650,"default":90},"description":"Window length in days ending at `to`; ignored when `from` is given"},{"name":"at","in":"query","required":false,"schema":{"type":"string","format":"date"},"example":"2026-08-12"},{"name":"fields","in":"query","required":false,"schema":{"type":"string"},"example":"feedPrice,dexPremiumPct","description":"Comma-separated keys to keep from each row: multiplier, tokenPaused, oraclePaused, tradingHalt, feedPrice, feedStale, bid, ask, priceDivergencePct, dexPriceUsd, dexPremiumPct, dexLiquidity, totalSupplyRaw, blockscoutHolders, ledgerHolders, lookalikes, stateCheckedAt, feedCheckedAt, apiCheckedAt, dexCheckedAt, blockscoutCheckedAt, takenAt. `day` is always included; an unknown key is a 400."}],"responses":{"200":{"description":"History","content":{"application/json":{"schema":{"type":"object","properties":{"chainId":{"type":"integer"},"symbol":{"type":"string"},"decimals":{"type":"integer","description":"Token decimals, for converting totalSupplyRaw"},"from":{"type":"string"},"to":{"type":"string"},"coverage":{"type":"object","properties":{"daysOnRecord":{"type":"integer"},"firstDay":{"type":["string","null"]},"latestDay":{"type":["string","null"]}}},"days":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"at, from, to, days or fields is malformed, or from is after to","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/assets/{symbol}/feed/rounds":{"get":{"summary":"The Chainlink feed's round history for one asset, newest first: roundId, answer (price × multiplier, USD), startedAt, updatedAt","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"path","required":true,"schema":{"type":"string"},"example":"TSLA"},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":2000,"default":200},"description":"Rounds, newest first; a malformed value reads as the default, a larger one as the maximum"}],"responses":{"200":{"description":"Rounds","content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string"},"feed":{"type":["string","null"]},"rounds":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Registry"]}},"/chains/{chainId}/bridge":{"get":{"summary":"The token bridge: each bridged asset's L1 escrow against its L2 supply, recent deposits and withdrawals seen on L2, and withdrawals past their seven-day window","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"WBTC"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100},"description":"Flows, newest first; a malformed value reads as the default, a larger one as the maximum"}],"responses":{"200":{"description":"Bridge","content":{"application/json":{"schema":{"type":"object","properties":{"escrow":{"type":"array","items":{"type":"object"}},"flows":{"type":"array","items":{"type":"object"}},"claimable":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain or asset","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/status":{"get":{"summary":"Whether the registry is live: the daemon's heartbeat, every job against its cadence, the scanners still reading history, and the age of every published figure","description":"Public. Always 200; the verdict is in the body ('live', 'degraded', 'stale', 'never'), so a stale registry is a fact to read rather than an error to retry. Each job carries its cadence, last successful run, age and verdict ('fresh', 'late', 'failing', 'filling', 'stalled', 'never'); metadataBacklog reports the measured due, visible, never-read and failed token counts after the last successful metadata batch; filling does not mean complete coverage; each figure names the job that writes it and the newest timestamp behind it. Also served at /api/v1/status.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663}],"responses":{"200":{"description":"Freshness","content":{"application/json":{"schema":{"type":"object","properties":{"verdict":{"type":"string","enum":["live","degraded","stale","never"]},"summary":{"type":"string"},"daemon":{"type":"object"},"head":{"type":["object","null"]},"swapIndexer":{"type":"object","description":"Live swap tail and separate backwards backfill. Coverage is measured independently of daemon health. USDG uses a disclosed nominal dollar assumption; supported WETH windows use explicitly estimated historical oracle samples. Inspect valuation methods and valued-pool coverage.","properties":{"mode":{"const":"live_and_backwards"},"checkedAt":{"type":"string","format":"date-time"},"newestCountedBlock":{"type":["string","null"]},"newestCountedAt":{"type":["string","null"],"format":"date-time"},"headBlock":{"type":["string","null"]},"headReadAt":{"type":["string","null"],"format":"date-time"},"lagBlocks":{"type":["string","null"]},"lagSeconds":{"type":["integer","null"],"minimum":0,"description":"Wall-clock age of the newest indexed block, independent of assumed block cadence."},"windowStartAt":{"type":["string","null"],"format":"date-time"},"windowEndAt":{"type":["string","null"],"format":"date-time"},"current":{"type":"boolean","description":"The indexed boundary is at most 120 seconds old; individual pools also require complete coverage."},"historicalUsdAvailable":{"type":"boolean","description":"True when complete current indexed pools include historical quote valuations; does not claim all pools are covered."},"coverageScope":{"const":"priority_pools"},"tiersScope":{"const":"canonical_catalog_pools"},"priorityPoolCount":{"type":"integer","minimum":0},"priorityComplete24hPools":{"type":"integer","minimum":0},"priorityValued24hPools":{"type":"integer","minimum":0},"valuationMethods":{"type":"array","items":{"type":"string","enum":["usdg_nominal","historical_chainlink_window_start"]}},"tiers":{"type":"array","items":{"type":"object","properties":{"tier":{"type":"string","enum":["active","quiet","dormant"]},"totalPools":{"type":"integer","minimum":0},"enrolledPools":{"type":"integer","minimum":0},"complete24hPools":{"type":"integer","minimum":0}},"required":["tier","totalPools","enrolledPools","complete24hPools"]}}},"required":["mode","checkedAt","newestCountedBlock","newestCountedAt","headBlock","headReadAt","lagBlocks","lagSeconds","windowStartAt","windowEndAt","current","historicalUsdAvailable","tiers"]},"jobs":{"type":"array","items":{"type":"object","properties":{"job":{"type":"string"},"cadenceSeconds":{"type":"number"},"verdict":{"type":"string","enum":["fresh","late","failing","filling","stalled","never"]},"metadataBacklog":{"type":["object","null"],"description":"Metadata queue measured after this job's last successful batch. Null means no batch has reported coverage yet; a fresh batch does not imply complete token coverage.","properties":{"total":{"type":"integer","minimum":0},"due":{"type":"integer","minimum":0},"visibleDue":{"type":"integer","minimum":0},"neverRead":{"type":"integer","minimum":0},"errors":{"type":"integer","minimum":0},"oldestCheckedAt":{"type":["string","null"],"format":"date-time"},"measuredAt":{"type":"string","format":"date-time"}},"required":["total","due","visibleDue","neverRead","errors","oldestCheckedAt","measuredAt"]},"metricCoverage":{"type":["object","null"],"description":"Per-metric catalog coverage measured by the job, independent from scheduler health. Current and failed may overlap when a failed refresh retains a current observation. Age these counts from measuredAt; a fresh scheduler does not make older counts current.","additionalProperties":{"type":"object","properties":{"eligible":{"type":"integer","minimum":0},"current":{"type":"integer","minimum":0},"failed":{"type":"integer","minimum":0},"unread":{"type":"integer","minimum":0},"oldestInputAgeSeconds":{"type":["number","null"],"minimum":0},"measuredAt":{"type":"string","format":"date-time"}},"required":["eligible","current","failed","unread","oldestInputAgeSeconds","measuredAt"]}}},"required":["job","cadenceSeconds","verdict","metadataBacklog","metricCoverage"]}},"figures":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Status"]}},"/status":{"get":{"summary":"Alias of /chains/4663/status: whether the registry is live","security":[],"responses":{"200":{"description":"Freshness","content":{"application/json":{"schema":{"type":"object","properties":{"verdict":{"type":"string","enum":["live","degraded","stale","never"]},"summary":{"type":"string"},"daemon":{"type":"object"},"head":{"type":["object","null"]},"swapIndexer":{"type":"object","description":"Live swap tail and separate backwards backfill. Coverage is measured independently of daemon health. USDG uses a disclosed nominal dollar assumption; supported WETH windows use explicitly estimated historical oracle samples. Inspect valuation methods and valued-pool coverage.","properties":{"mode":{"const":"live_and_backwards"},"checkedAt":{"type":"string","format":"date-time"},"newestCountedBlock":{"type":["string","null"]},"newestCountedAt":{"type":["string","null"],"format":"date-time"},"headBlock":{"type":["string","null"]},"headReadAt":{"type":["string","null"],"format":"date-time"},"lagBlocks":{"type":["string","null"]},"lagSeconds":{"type":["integer","null"],"minimum":0,"description":"Wall-clock age of the newest indexed block, independent of assumed block cadence."},"windowStartAt":{"type":["string","null"],"format":"date-time"},"windowEndAt":{"type":["string","null"],"format":"date-time"},"current":{"type":"boolean","description":"The indexed boundary is at most 120 seconds old; individual pools also require complete coverage."},"historicalUsdAvailable":{"type":"boolean","description":"True when complete current indexed pools include historical quote valuations; does not claim all pools are covered."},"coverageScope":{"const":"priority_pools"},"tiersScope":{"const":"canonical_catalog_pools"},"priorityPoolCount":{"type":"integer","minimum":0},"priorityComplete24hPools":{"type":"integer","minimum":0},"priorityValued24hPools":{"type":"integer","minimum":0},"valuationMethods":{"type":"array","items":{"type":"string","enum":["usdg_nominal","historical_chainlink_window_start"]}},"tiers":{"type":"array","items":{"type":"object","properties":{"tier":{"type":"string","enum":["active","quiet","dormant"]},"totalPools":{"type":"integer","minimum":0},"enrolledPools":{"type":"integer","minimum":0},"complete24hPools":{"type":"integer","minimum":0}},"required":["tier","totalPools","enrolledPools","complete24hPools"]}}},"required":["mode","checkedAt","newestCountedBlock","newestCountedAt","headBlock","headReadAt","lagBlocks","lagSeconds","windowStartAt","windowEndAt","current","historicalUsdAvailable","tiers"]},"jobs":{"type":"array","items":{"type":"object","properties":{"job":{"type":"string"},"cadenceSeconds":{"type":"number"},"verdict":{"type":"string","enum":["fresh","late","failing","filling","stalled","never"]},"metadataBacklog":{"type":["object","null"],"description":"Metadata queue measured after this job's last successful batch. Null means no batch has reported coverage yet; a fresh batch does not imply complete token coverage.","properties":{"total":{"type":"integer","minimum":0},"due":{"type":"integer","minimum":0},"visibleDue":{"type":"integer","minimum":0},"neverRead":{"type":"integer","minimum":0},"errors":{"type":"integer","minimum":0},"oldestCheckedAt":{"type":["string","null"],"format":"date-time"},"measuredAt":{"type":"string","format":"date-time"}},"required":["total","due","visibleDue","neverRead","errors","oldestCheckedAt","measuredAt"]},"metricCoverage":{"type":["object","null"],"description":"Per-metric catalog coverage measured by the job, independent from scheduler health. Current and failed may overlap when a failed refresh retains a current observation. Age these counts from measuredAt; a fresh scheduler does not make older counts current.","additionalProperties":{"type":"object","properties":{"eligible":{"type":"integer","minimum":0},"current":{"type":"integer","minimum":0},"failed":{"type":"integer","minimum":0},"unread":{"type":"integer","minimum":0},"oldestInputAgeSeconds":{"type":["number","null"],"minimum":0},"measuredAt":{"type":"string","format":"date-time"}},"required":["eligible","current","failed","unread","oldestInputAgeSeconds","measuredAt"]}}},"required":["job","cadenceSeconds","verdict","metadataBacklog","metricCoverage"]}},"figures":{"type":"array","items":{"type":"object"}}}}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Status"]}},"/chains/{chainId}/issuer":{"get":{"summary":"The issuer's paperwork: every PDF the legal hub lists with ETag, Last-Modified and the token it maps to, plus watched pages and when their text changed","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string","enum":["base_prospectus","supplement","notice","final_terms","other"]}}],"responses":{"200":{"description":"Documents and pages","content":{"application/json":{"schema":{"type":"object","properties":{"documents":{"type":"array","items":{"type":"object"}},"pages":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/lookalikes":{"get":{"summary":"Recorded name and ticker collisions at different contract addresses, with available holder counts and beacon checks","description":"Public. Most held first. A collision describes reused labels; it does not establish intent or issuer identity. `limit` caps rows (default 300, max 1000); `offset` skips that many rows, so `offset=1000&limit=1000` is the second page, and a page shorter than `limit` is the last one. Holder counts are refreshed by the lookalike scan, so the order can shift between pages read across a scan: a consumer copying the whole table dedupes by `address`.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000},"description":"Rows per page (default 300)"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0},"description":"Rows to skip before the page (default 0)"}],"responses":{"200":{"description":"Lookalikes, most held first","content":{"application/json":{"schema":{"type":"object","properties":{"lookalikes":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Chain"]}},"/chains/{chainId}/events":{"get":{"summary":"The registry changelog: every pause, block, upgrade, multiplier change, stale feed, supply residual, listing, corporate action and chain status change the daemon recorded","description":"Public. Without `since`/`cursor`: newest first, with `kinds` (every kind the daemon can emit) and `nextCursor`. With `since` or `cursor` (an ISO instant, use the previous `nextCursor`): only newer rows, oldest first, so a consumer catches up without gaps; a `since` or `cursor` that does not parse is a 400, never a silent restart from now. `kind` matches exactly or by prefix (`registry.`, `multiplier.`) and `symbol` narrows to one token, on the newest-first read only: the cursor read returns every kind, and a consumer following a cursor filters on `kind` itself. `limit` up to 500. When the changelog is empty, `nextCursor` is the epoch, which passed back yields every event from the first.","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"kind","in":"query","required":false,"schema":{"type":"string"},"example":"multiplier."},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"},"example":"TSLA"},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"An opaque position, `${observedAt}|${id}`, as returned in `nextCursor`. Pass it back verbatim; a bare ISO instant is also accepted.","example":"2026-09-05T11:50:43.476Z|ev_9f3256ce83b6dd98fedbe4ec"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100},"description":"A malformed value reads as the default, a larger one as the maximum"}],"responses":{"200":{"description":"Events","content":{"application/json":{"schema":{"type":"object","properties":{"events":{"type":"array","items":{"type":"object","description":"One entry in the registry changelog. `id` is stable across re-runs; the cursor for the row is `${observedAt}|${id}`.","properties":{"id":{"type":"string","description":"`ev_` followed by 24 hex characters; the same change is never written twice"},"kind":{"type":"string","description":"A dotted kind such as `registry.paused` or `multiplier.applied`; every kind the daemon can emit is in the response's `kinds`","example":"multiplier.applied"},"title":{"type":"string","description":"The change as one changelog line"},"symbol":{"type":["string","null"],"description":"The token concerned; null for a chain-wide event"},"address":{"type":["string","null"],"description":"The contract or account concerned; null for a chain-wide event"},"detail":{"type":["object","null"],"additionalProperties":true,"description":"The numbers behind the title; fields depend on the kind"},"block":{"type":["string","null"],"description":"Block number as a decimal string; null for events not tied to a block"},"txHash":{"type":["string","null"]},"occurredAt":{"type":"string","format":"date-time","description":"When the change happened on chain or at the source"},"observedAt":{"type":"string","format":"date-time","description":"When the daemon recorded it; the cursor orders by this"}},"required":["id","kind","title","symbol","address","detail","block","txHash","occurredAt","observedAt"]}},"kinds":{"type":"array","items":{"type":"string"},"description":"Every kind the daemon can emit; present only on the newest-first read (no `since`/`cursor`)"},"nextCursor":{"type":"string","description":"`${observedAt}|${id}` of the last row seen; pass it back as `cursor` to receive only what follows. The epoch when the changelog is empty."}},"required":["events","nextCursor"]}}}},"400":{"description":"since or cursor is malformed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests from this address; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Changelog"]}},"/chains/{chainId}/events/stream":{"get":{"summary":"The same changelog as Server-Sent Events; each frame's id is the event's cursor (`${observedAt}|${id}`), so Last-Event-ID (or ?since=) resumes without gaps","security":[],"parameters":[{"name":"chainId","in":"path","required":true,"schema":{"type":"integer"},"example":4663},{"name":"since","in":"query","required":false,"schema":{"type":"string"},"description":"An ISO instant or a cursor `${observedAt}|${id}`; the Last-Event-ID header takes precedence. Without either the stream starts at now."}],"responses":{"200":{"description":"text/event-stream; `event` is the kind, `data` an AuthorityEvent as JSON, `id` the event's cursor. The first frame carries `retry` and an `id` with no event, so a reconnect always has a position."},"400":{"description":"since or Last-Event-ID is malformed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Unknown chain","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many anonymous requests, or too many open streams from this address","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Changelog"]}},"/watchers":{"get":{"summary":"List this account's watchers","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:read","responses":{"200":{"description":"Watchers","content":{"application/json":{"schema":{"type":"object","properties":{"watchers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]}}}}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"The key's hourly budget is spent; Retry-After says when the window ends","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]},"post":{"summary":"Create a watcher","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:write","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Repeat a POST with the same key to get the same watcher back instead of creating another."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"assetId":{"type":"string","description":"Required for large_transfer, wallet_activity and token_event; omitted for registry_event."},"threshold":{"type":"string","example":"1000","description":"Required for large_transfer (positive) and wallet_activity (\"0\" means every transfer); ignored by registry_event, token_event and new_pool."},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"],"default":"large_transfer"},"lookalikesOnly":{"type":"boolean","description":"new_pool only: alert only on a pool whose token borrows a listed ticker or name. Off by default."},"wallet":{"type":"string","description":"Required when kind is wallet_activity — a 0x-prefixed 40-character hex address.","example":"0x1234567890123456789012345678901234567890"},"name":{"type":"string"},"projectId":{"type":"string"},"webhookId":{"type":"string","description":"Deliver this watcher to a registered webhook endpoint instead of Telegram."}},"required":[]}}}},"responses":{"200":{"description":"Idempotency-Key replay: the existing watcher","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]}}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":"string","enum":["large_transfer","wallet_activity","registry_event","token_event","new_pool"]},"chainId":{"type":"integer"},"address":{"type":"string"},"assetId":{"type":["string","null"]},"threshold":{"type":"string"},"wallet":{"type":["string","null"],"description":"wallet_activity only — the watched address."},"delivery":{"type":"string","enum":["telegram","webhook"],"description":"Where this watcher's alerts are sent."},"webhookId":{"type":["string","null"],"description":"The endpoint alerts are posted to when delivery is \"webhook\"."},"webhookName":{"type":["string","null"],"description":"The endpoint's name. Null when delivery is \"telegram\". Also null when the endpoint was deleted: delivery stays \"webhook\", webhookId is null, and the watcher is paused with the reason in lastError. Such a watcher cannot be resumed until it is re-pointed with PATCH /watchers/{id} { webhookId }."},"enabled":{"type":"boolean"},"status":{"type":"string","enum":["active","catching_up","degraded","paused"]},"lastCheckedBlock":{"type":["string","null"]},"lastTriggeredAt":{"type":["string","null"],"format":"date-time"},"lastError":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastDelivery":{"type":["object","null"],"description":"The most recent delivery of any status, or null before the first.","properties":{"sentAt":{"type":["string","null"],"format":"date-time"},"amount":{"type":["string","null"]},"txHash":{"type":"string"}},"required":["sentAt","amount","txHash"]}},"required":["id","name","kind","chainId","address","threshold","enabled","status","createdAt","updatedAt","lastDelivery"]}}}}}},"400":{"description":"Invalid asset id, threshold, wallet, project, or a disabled webhook endpoint","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Missing or invalid credentials; carries WWW-Authenticate","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Credentials valid but missing the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Asset, project or webhook endpoint not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Per-account or platform watcher limit reached","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"tags":["Watch"]}},"/watchers/{id}":{"get":{"summary":"Get one watcher","security":[{"bearerAuth":[]}],"x-required-scope":"watchers:read","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The watcher","content":{"application/json":{"schema":{"type":"object","properties":{"watcher":{"type":
[...]
